<div class="p_return_layout">
 <!-- PROFILE HTML - p_return_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-10 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" >
		<div class="return_ui" >
			<f_return_ui [comp_id]="'return_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('return_ui','f_return_ui')" profile_name="p_return_layout"></f_return_ui >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="save_ui" >
			<f_save_ui [comp_id]="'save_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('save_ui','f_save_ui')" profile_name="p_return_layout"></f_save_ui >
		</div>
	</div>
</div>

</div>