<div class="p_form_layout">
 <!-- PROFILE HTML - p_form_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
<div id="R11C1R0" class="row">
	<div id="R11C1R0C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="payment_form" >
			<f_op_cust_transaction_ui [comp_id]="'payment_form'" [screen_instance]="screen_instance" [hidden]="isHidden('payment_form','f_op_cust_transaction_ui')" profile_name="p_form_layout"></f_op_cust_transaction_ui >
		</div>
	</div>
	<div id="R11C1R0C2" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="payment_form_action" >
			<f_payment_form_action [comp_id]="'payment_form_action'" [screen_instance]="screen_instance" [hidden]="isHidden('payment_form_action','f_payment_form_action')" profile_name="p_form_layout"></f_payment_form_action >
		</div>
	</div>
	<div id="R11C1R0C2" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="npss_op_error_widget"  [hidden]="!screen_instance['npss_op_error_widget'].show" >
			<npssp_cs_verify_iban [comp_id]="'npss_op_error_widget'" [screen_instance]="screen_instance" profile_name="p_form_layout"></npssp_cs_verify_iban>
		</div>
	</div>
</div>
	</div>
</div>

</div>