<div class="p_view_process_log_layout">
 <!-- PROFILE HTML - p_view_process_log_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-6 col-sm-offset-0 col-xs-offset-0" >
		<div class="view_process_log_ui" >
			<f_view_process_log_ui [comp_id]="'view_process_log_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('view_process_log_ui','f_view_process_log_ui')" profile_name="p_view_process_log_layout"></f_view_process_log_ui >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="history_details"  [hidden]="!screen_instance['history_details'].show" >
			<datatable [comp_id]="'history_details'" [screen_instance]="screen_instance" profile_name="p_view_process_log_layout"></datatable>
		</div>
	</div>
</div>

</div>