<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'navigation_ui_search'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_search.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_detail'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_detail" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_detail.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_log_history'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_log_history" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_log_history.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_message_details'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_message_details" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_message_details.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_request'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_request" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_request.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_response'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_response" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_response.show"></btn>
		<btn [ctrl_id]="'navigation_ui_show_message'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_show_message" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_show_message.show"></btn>
		<btn [ctrl_id]="'navigation_ui_reset'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_reset" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_reset.show"></btn>
		<btn [ctrl_id]="'navigation_ui_trg_disable_view_data_ui'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_trg_disable_view_data_ui" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_trg_disable_view_data_ui.show"></btn>
 	</div>

</div>