<div class="p_view_message_ui_layout">
 <!-- PROFILE HTML - p_view_message_ui_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-10 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" >
		<div class="message_detail_ui" >
			<f_npss_message_data_ui [comp_id]="'message_detail_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('message_detail_ui','f_npss_message_data_ui')" profile_name="p_view_message_ui_layout"></f_npss_message_data_ui >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-6 col-sm-offset-0 col-xs-offset-0" >
		<div class="message_back_ui" >
			<f_message_back_ui [comp_id]="'message_back_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('message_back_ui','f_message_back_ui')" profile_name="p_view_message_ui_layout"></f_message_back_ui >
		</div>
	</div>
</div>

</div>