<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_volume_values_ui="ngForm">
<div id="RN01" class="row">
	<div #npss_volume_values_ui_process_name id="RN01CN1" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('process_name')" >
				<txt [ctrl_id]="'npss_volume_values_ui_process_name'" [comp_id]="comp_id" [ctrl]="ctrl.process_name" [model]="screen_instance[this.comp_id].f_npss_volume_values_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN2" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('senderbic')" >
				<txt [ctrl_id]="'npss_volume_values_ui_senderbic'" [comp_id]="comp_id" [ctrl]="ctrl.senderbic" [model]="screen_instance[this.comp_id].f_npss_volume_values_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN3" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('fromdate')" >
				<dtp [ctrl_id]="'npss_volume_values_ui_fromdate'" [comp_id]="comp_id" [ctrl]="ctrl.fromdate" [model]="screen_instance[this.comp_id].f_npss_volume_values_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></dtp>
	</div>
	<div  id="RN11CN4" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('todate')" >
				<dtp [ctrl_id]="'npss_volume_values_ui_todate'" [comp_id]="comp_id" [ctrl]="ctrl.todate" [model]="screen_instance[this.comp_id].f_npss_volume_values_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></dtp>
	</div>
</div>
	</form>
</fieldset >

</div>