<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_report_label_control="ngForm">
<div id="RN01" class="row">
	<div #npss_report_label_control_memory143 id="RN01CN2" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory143')" >
				<lbl [ctrl_id]="'npss_report_label_control_memory143'" [comp_id]="comp_id" [ctrl]="ctrl.memory143" [model]="screen_instance[this.comp_id].f_npss_report_label_control.model" [screen_instance]="screen_instance" [form_instance]="this"></lbl>
	</div>
</div>
	</form>
</fieldset >

</div>