<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_reversal_deal_plog_ui="ngForm">
<div id="RN01" class="row">
	<div #npss_reversal_deal_plog_ui_exchange_rate id="RN01CN1" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('exchange_rate')" >
				<txt [ctrl_id]="'npss_reversal_deal_plog_ui_exchange_rate'" [comp_id]="comp_id" [ctrl]="ctrl.exchange_rate" [model]="screen_instance[this.comp_id].f_npss_reversal_deal_plog_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN2" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('buy_currency')" >
				<txt [ctrl_id]="'npss_reversal_deal_plog_ui_buy_currency'" [comp_id]="comp_id" [ctrl]="ctrl.buy_currency" [model]="screen_instance[this.comp_id].f_npss_reversal_deal_plog_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN3" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('sell_currency')" >
				<txt [ctrl_id]="'npss_reversal_deal_plog_ui_sell_currency'" [comp_id]="comp_id" [ctrl]="ctrl.sell_currency" [model]="screen_instance[this.comp_id].f_npss_reversal_deal_plog_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN4" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('contra_amount')" >
				<txt [ctrl_id]="'npss_reversal_deal_plog_ui_contra_amount'" [comp_id]="comp_id" [ctrl]="ctrl.contra_amount" [model]="screen_instance[this.comp_id].f_npss_reversal_deal_plog_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN5" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dealt_amount')" >
				<txt [ctrl_id]="'npss_reversal_deal_plog_ui_dealt_amount'" [comp_id]="comp_id" [ctrl]="ctrl.dealt_amount" [model]="screen_instance[this.comp_id].f_npss_reversal_deal_plog_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >

</div>