<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_liq_cycle_ui="ngForm">
<div id="1677310427044" class="row">
	<div #npss_liq_cycle_ui_process_name id="79ec58a7-0e46-4e25-a5cd-a74af819e0d5_1677310427044" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('process_name')" >
				<txt [ctrl_id]="'npss_liq_cycle_ui_process_name'" [comp_id]="comp_id" [ctrl]="ctrl.process_name" [model]="screen_instance[this.comp_id].f_npss_liq_cycle_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="2714c620-4e07-4509-964d-5d03f505528d_1677310427044" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('currency')" >
				<cbo [ctrl_id]="'npss_liq_cycle_ui_currency'" [comp_id]="comp_id" [ctrl]="ctrl.currency" [model]="screen_instance[this.comp_id].f_npss_liq_cycle_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
</div>
<div id="r1" class="row">
	<div  id="09279ec8-bf43-4de2-96ac-4217c7278be8_1677310427045" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('accountholderbic')" >
				<txt [ctrl_id]="'npss_liq_cycle_ui_accountholderbic'" [comp_id]="comp_id" [ctrl]="ctrl.accountholderbic" [model]="screen_instance[this.comp_id].f_npss_liq_cycle_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="1671f9c1-80b2-406b-950a-bf8d8b48b6fb_1677310427045" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('accountnumber')" >
				<txt [ctrl_id]="'npss_liq_cycle_ui_accountnumber'" [comp_id]="comp_id" [ctrl]="ctrl.accountnumber" [model]="screen_instance[this.comp_id].f_npss_liq_cycle_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="1677310427045" class="row">
	<div  id="3e899cfa-420a-4992-bb6c-c4196050432a_1677310427045" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cyclenumber')" >
				<txt [ctrl_id]="'npss_liq_cycle_ui_cyclenumber'" [comp_id]="comp_id" [ctrl]="ctrl.cyclenumber" [model]="screen_instance[this.comp_id].f_npss_liq_cycle_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'api_input_ui_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.api_input_ui_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.api_input_ui_clear.show"></btn>
		<btn [ctrl_id]="'api_input_ui_save'" [comp_id]="comp_id" [ctrl]="screen_instance.api_input_ui_save" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.api_input_ui_save.show"></btn>
		<btn [ctrl_id]="'api_input_ui_call_api'" [comp_id]="comp_id" [ctrl]="screen_instance.api_input_ui_call_api" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.api_input_ui_call_api.show"></btn>
		<btn [ctrl_id]="'api_input_ui_trg_hide'" [comp_id]="comp_id" [ctrl]="screen_instance.api_input_ui_trg_hide" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.api_input_ui_trg_hide.show"></btn>
 	</div>

</div>