<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_manual_verification_ui="ngForm">
<div id="RN11" class="row">
	<div #npss_manual_verification_ui_intrbk_sttlm_cur id="RN11CN2" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('intrbk_sttlm_cur')" >
				<txt [ctrl_id]="'npss_manual_verification_ui_intrbk_sttlm_cur'" [comp_id]="comp_id" [ctrl]="ctrl.intrbk_sttlm_cur" [model]="screen_instance[this.comp_id].f_npss_manual_verification_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN1" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('intrbk_sttlm_amnt')" >
				<cur [ctrl_id]="'npss_manual_verification_ui_intrbk_sttlm_amnt'" [comp_id]="comp_id" [ctrl]="ctrl.intrbk_sttlm_amnt" [model]="screen_instance[this.comp_id].f_npss_manual_verification_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cur>
	</div>
	<div  id="RN21CN3" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('charge_amount')" >
				<txt [ctrl_id]="'npss_manual_verification_ui_charge_amount'" [comp_id]="comp_id" [ctrl]="ctrl.charge_amount" [model]="screen_instance[this.comp_id].f_npss_manual_verification_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN01" class="row">
	<div  id="RN01CN5" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dispute_ref_no')" >
				<txt [ctrl_id]="'npss_manual_verification_ui_dispute_ref_no'" [comp_id]="comp_id" [ctrl]="ctrl.dispute_ref_no" [model]="screen_instance[this.comp_id].f_npss_manual_verification_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN7" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('force_post_flag')" >
				<txt [ctrl_id]="'npss_manual_verification_ui_force_post_flag'" [comp_id]="comp_id" [ctrl]="ctrl.force_post_flag" [model]="screen_instance[this.comp_id].f_npss_manual_verification_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN6" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cust_splrate_flag')" >
				<txt [ctrl_id]="'npss_manual_verification_ui_cust_splrate_flag'" [comp_id]="comp_id" [ctrl]="ctrl.cust_splrate_flag" [model]="screen_instance[this.comp_id].f_npss_manual_verification_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >

</div>