<div class="p_show_table_view_profile">
 <!-- PROFILE HTML - p_show_table_view_profile --> 
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-6 col-sm-offset-0 col-xs-offset-0" >
		<div class="payment_srch" >
			<f_payment_srch [comp_id]="'payment_srch'" [screen_instance]="screen_instance" [hidden]="isHidden('payment_srch','f_payment_srch')" profile_name="p_show_table_view_profile"></f_payment_srch >
		</div>
	</div>
</div>
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="npss_show_table_view_cw"  [hidden]="!screen_instance['npss_show_table_view_cw'].show" >
			<npss_cs_show_table_view [comp_id]="'npss_show_table_view_cw'" [screen_instance]="screen_instance" profile_name="p_show_table_view_profile"></npss_cs_show_table_view>
		</div>
	</div>
</div>

</div>