<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_process_log_srch="ngForm">
<div id="RN01" class="row">
	<div #npss_process_log_srch_uetr id="RN01CN1" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('uetr')" >
				<cdn_ctrl [ctrl_id]="'npss_process_log_srch_uetr'" [comp_id]="comp_id" [ctrl]="ctrl.uetr" [model]="screen_instance[this.comp_id].f_npss_process_log_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="RN01CN2" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('process_name')" >
				<cbo [ctrl_id]="'npss_process_log_srch_process_name'" [comp_id]="comp_id" [ctrl]="ctrl.process_name" [model]="screen_instance[this.comp_id].f_npss_process_log_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN3" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('processing_system')" >
				<cdn_ctrl [ctrl_id]="'npss_process_log_srch_processing_system'" [comp_id]="comp_id" [ctrl]="ctrl.processing_system" [model]="screen_instance[this.comp_id].f_npss_process_log_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="RN11CN4" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory9')" >
				<cdn_date [ctrl_id]="'npss_process_log_srch_memory9'" [comp_id]="comp_id" [ctrl]="ctrl.memory9" [model]="screen_instance[this.comp_id].f_npss_process_log_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_date>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-8 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_search.show" >
			<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
		</div>
		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_clear.show" >
			<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		</div>
	</div>

</div>