<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_rct_post_plog_srch="ngForm">
<div id="1668849760484" class="row">
	<div #npss_rct_post_plog_srch_memory18 id="2d2e05ac-5ece-4d1d-9ec8-b2be0491e67b_1668849760484" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory18')" >
				<cdn_date [ctrl_id]="'npss_rct_post_plog_srch_memory18'" [comp_id]="comp_id" [ctrl]="ctrl.memory18" [model]="screen_instance[this.comp_id].f_npss_rct_post_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_date>
	</div>
	<div  id="1d59c8ef-6767-4201-8531-33f40d786f77_1668849760484" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory9')" >
				<cdn_date [ctrl_id]="'npss_rct_post_plog_srch_memory9'" [comp_id]="comp_id" [ctrl]="ctrl.memory9" [model]="screen_instance[this.comp_id].f_npss_rct_post_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_date>
	</div>
</div>
<div id="r1" class="row">
	<div  id="4780b030-689c-4e95-810c-2bac7f06d098_1668849760485" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory19')" >
				<txt [ctrl_id]="'npss_rct_post_plog_srch_memory19'" [comp_id]="comp_id" [ctrl]="ctrl.memory19" [model]="screen_instance[this.comp_id].f_npss_rct_post_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="79fe1420-8679-4818-8921-a5f8ce0318b7_1668849760485" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('uetr')" >
				<txt [ctrl_id]="'npss_rct_post_plog_srch_uetr'" [comp_id]="comp_id" [ctrl]="ctrl.uetr" [model]="screen_instance[this.comp_id].f_npss_rct_post_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="be70727e-7695-4c4c-ada8-7d73ffbb73a5_1668849760485" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory21')" >
				<txt [ctrl_id]="'npss_rct_post_plog_srch_memory21'" [comp_id]="comp_id" [ctrl]="ctrl.memory21" [model]="screen_instance[this.comp_id].f_npss_rct_post_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN51" class="row">
	<div  id="RN51CN12" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory27')" >
				<txt [ctrl_id]="'npss_rct_post_plog_srch_memory27'" [comp_id]="comp_id" [ctrl]="ctrl.memory27" [model]="screen_instance[this.comp_id].f_npss_rct_post_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="6177f9b8-0811-416a-a18e-2ba739f8ac11_1668849760485" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory22')" >
				<txt [ctrl_id]="'npss_rct_post_plog_srch_memory22'" [comp_id]="comp_id" [ctrl]="ctrl.memory22" [model]="screen_instance[this.comp_id].f_npss_rct_post_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="d0e858af-a7cf-4422-83f9-0af3db8e4344_1668849760485" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory23')" >
				<txt [ctrl_id]="'npss_rct_post_plog_srch_memory23'" [comp_id]="comp_id" [ctrl]="ctrl.memory23" [model]="screen_instance[this.comp_id].f_npss_rct_post_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="r2" class="row">
	<div  id="3af74f36-3020-47dd-a037-284a7d9064f4_1668849760485" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory24')" >
				<txt [ctrl_id]="'npss_rct_post_plog_srch_memory24'" [comp_id]="comp_id" [ctrl]="ctrl.memory24" [model]="screen_instance[this.comp_id].f_npss_rct_post_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="e177cc22-d2d9-4a01-9db7-032022d814eb_1668849760485" class="column col-md-8 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory25')" >
				<cdn_cur_ctrl [ctrl_id]="'npss_rct_post_plog_srch_memory25'" [comp_id]="comp_id" [ctrl]="ctrl.memory25" [model]="screen_instance[this.comp_id].f_npss_rct_post_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_cur_ctrl>
	</div>
</div>
<div id="r3" class="row">
	<div  id="2b78f8bd-2be0-48fb-9a3c-4e69a3fef50b_1668849760485" class="column col-md-8 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('processing_system')" >
				<cdn_ctrl [ctrl_id]="'npss_rct_post_plog_srch_processing_system'" [comp_id]="comp_id" [ctrl]="ctrl.processing_system" [model]="screen_instance[this.comp_id].f_npss_rct_post_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-8 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_search.show" >
			<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
		</div>
		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_clear.show" >
			<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		</div>
	</div>

</div>