<div class="p_outward_chart_layout">
 <!-- PROFILE HTML - p_outward_chart_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="outward_chart"  [hidden]="!screen_instance['outward_chart'].show" >
			<chart [comp_id]="'outward_chart'" [screen_instance]="screen_instance" profile_name="p_outward_chart_layout"></chart>
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-6 col-sm-offset-0 col-xs-offset-0" >
		<div class="close_ui" >
			<f_close_ui [comp_id]="'close_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('close_ui','f_close_ui')" profile_name="p_outward_chart_layout"></f_close_ui >
		</div>
	</div>
</div>

</div>