<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_op_reversal_srch="ngForm">
<div id="RN01" class="row">
	<div #npss_op_reversal_srch_memory63 id="RN01CN1" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory63')" >
				<dtp [ctrl_id]="'npss_op_reversal_srch_memory63'" [comp_id]="comp_id" [ctrl]="ctrl.memory63" [model]="screen_instance[this.comp_id].f_npss_op_reversal_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></dtp>
	</div>
	<div  id="RN01CN2" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_iban')" >
				<txt [ctrl_id]="'npss_op_reversal_srch_cdtr_iban'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_iban" [model]="screen_instance[this.comp_id].f_npss_op_reversal_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN3" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('uetr')" >
				<cdn_ctrl [ctrl_id]="'npss_op_reversal_srch_uetr'" [comp_id]="comp_id" [ctrl]="ctrl.uetr" [model]="screen_instance[this.comp_id].f_npss_op_reversal_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN01CN4" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('intrbk_sttlm_amnt')" >
				<cdn_ctrl [ctrl_id]="'npss_op_reversal_srch_intrbk_sttlm_amnt'" [comp_id]="comp_id" [ctrl]="ctrl.intrbk_sttlm_amnt" [model]="screen_instance[this.comp_id].f_npss_op_reversal_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="RN11CN7001" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('reversal_amount')" >
				<cdn_ctrl [ctrl_id]="'npss_op_reversal_srch_reversal_amount'" [comp_id]="comp_id" [ctrl]="ctrl.reversal_amount" [model]="screen_instance[this.comp_id].f_npss_op_reversal_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="RN11CN5" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory87')" >
				<cbo [ctrl_id]="'npss_op_reversal_srch_memory87'" [comp_id]="comp_id" [ctrl]="ctrl.memory87" [model]="screen_instance[this.comp_id].f_npss_op_reversal_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
	<div  id="RN11CN10" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory75')" >
				<cbo [ctrl_id]="'npss_op_reversal_srch_memory75'" [comp_id]="comp_id" [ctrl]="ctrl.memory75" [model]="screen_instance[this.comp_id].f_npss_op_reversal_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-8 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_search.show" >
			<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
		</div>
		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_clear.show" >
			<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		</div>
	</div>

</div>