<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_pl_change_cancel_reason_ui="ngForm">
<div id="1671195816628" class="row">
	<div #npss_pl_change_cancel_reason_ui_cbuae_return_code id="50b697de-385d-43d7-b99a-19a393460482_1671195816628" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cbuae_return_code')" >
				<cbo_list [ctrl_id]="'npss_pl_change_cancel_reason_ui_cbuae_return_code'" [comp_id]="comp_id" [ctrl]="ctrl.cbuae_return_code" [model]="screen_instance[this.comp_id].f_npss_pl_change_cancel_reason_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo_list>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'cancel_return_ui_save'" [comp_id]="comp_id" [ctrl]="screen_instance.cancel_return_ui_save" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.cancel_return_ui_save.show"></btn>
 	</div>

</div>