<div class="p_view_message_layout">
 <!-- PROFILE HTML - p_view_message_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-5 col-sm-6 col-xs-6 col-md-offset-6 col-sm-offset-0 col-xs-offset-0" >
		<div class="back_ui" >
			<f_back_ui [comp_id]="'back_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('back_ui','f_back_ui')" profile_name="p_view_message_layout"></f_back_ui >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-10 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" >
		<div class="message_detail_ui" >
			<f_npss_kafka_message_ui [comp_id]="'message_detail_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('message_detail_ui','f_npss_kafka_message_ui')" profile_name="p_view_message_layout"></f_npss_kafka_message_ui >
		</div>
	</div>
</div>

</div>