<div class="p_rejected_payments_layout">
 <!-- PROFILE HTML - p_rejected_payments_layout --> 
<div id="R31" class="row">
	<div id="R31C1" class="column col-md-10 col-sm-6 col-xs-6 col-md-offset-2 col-sm-offset-0 col-xs-offset-0" >
		<div class="navigation_ui" >
			<f_navigation_ui [comp_id]="'navigation_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('navigation_ui','f_navigation_ui')" profile_name="p_rejected_payments_layout"></f_navigation_ui >
		</div>
	</div>
</div>
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
<div id="R11C1R0" class="row">
	<div id="R11C1R0C1" class="column col-md-7 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="search" >
			<f_npss_rej_pay_by_cb_srch [comp_id]="'search'" [screen_instance]="screen_instance" [hidden]="isHidden('search','f_npss_rej_pay_by_cb_srch')" profile_name="p_rejected_payments_layout"></f_npss_rej_pay_by_cb_srch >
		</div>
	</div>
	<div id="R11C1R0C2" class="column col-md-5 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="queue"  [hidden]="!screen_instance['queue'].show" >
			<datatable [comp_id]="'queue'" [screen_instance]="screen_instance" profile_name="p_rejected_payments_layout"></datatable>
		</div>
	</div>
</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="transaction_list"  [hidden]="!screen_instance['transaction_list'].show" >
			<datatable [comp_id]="'transaction_list'" [screen_instance]="screen_instance" profile_name="p_rejected_payments_layout"></datatable>
		</div>
	</div>
</div>
<div id="R41" class="row">
	<div id="R41C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="error_details"  [hidden]="!screen_instance['error_details'].show" >
			<datatable [comp_id]="'error_details'" [screen_instance]="screen_instance" profile_name="p_rejected_payments_layout"></datatable>
		</div>
	</div>
</div>

</div>