<div class="p_main_layout">
 <!-- PROFILE HTML - p_main_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="navigation_ui" >
			<f_navigation_ui [comp_id]="'navigation_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('navigation_ui','f_navigation_ui')" profile_name="p_main_layout"></f_navigation_ui >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-4 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="queue"  [hidden]="!screen_instance['queue'].show" >
			<datatable [comp_id]="'queue'" [screen_instance]="screen_instance" profile_name="p_main_layout"></datatable>
		</div>
	</div>
	<div id="R21C3" class="column col-md-8 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
<div id="R21C3R0" class="row">
	<div id="R21C3R0C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="process_log_list"  [hidden]="!screen_instance['process_log_list'].show" >
			<datatable [comp_id]="'process_log_list'" [screen_instance]="screen_instance" profile_name="p_main_layout"></datatable>
		</div>
	</div>
	<div id="R21C3R0C2" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="transaction_list"  [hidden]="!screen_instance['transaction_list'].show" >
			<datatable [comp_id]="'transaction_list'" [screen_instance]="screen_instance" profile_name="p_main_layout"></datatable>
		</div>
	</div>
</div>
	</div>
</div>

</div>