<!--HTML FILE-->
<!--HTML FILE-->
<!--HTML FILE-->

<div class="tablestyle" *ngIf="showtable">
    <p-table [columns]="tableheader" [value]="tablerows">
        <ng-template pTemplate="header" let-columns>
            <tr class="tr" >
                <th *ngFor="let col of columns" id="header" class="datatable__headercell">
                    {{col.headers}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="tr">
                <td *ngFor="let col of columns" id="val">
                    {{rowData[col.headers]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div><textarea class="textarea" *ngIf = "showtextarea">{{failure}}</textarea></div>