<div class="s_ip_home_dashboard">
<p_default_profile [screen_instance]="this" [hidden]="!(current_profile=='p_default_profile')"></p_default_profile>

<p-dialog header="{{'Search' | translate }}"  [closable]="true" (onHide)="closePopup()" responsive="true" breakpoint=600 styleClass="show-popup " [(visible)]="p_search_layout__spap_from_nav_search_showpopup" [contentStyle]="{'overflow-y': 'auto','height': '400px','width': '700px'}" [draggable]="true" [modal]="true">
	<p_search_layout [screen_instance]="this" ></p_search_layout></p-dialog>
<app-dialog [screen_instance]="this" ></app-dialog>
</div>