<div class="p_initate_layout">
 <!-- PROFILE HTML - p_initate_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="initate_ui" >
			<f_npss_op_reversal_ui [comp_id]="'initate_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('initate_ui','f_npss_op_reversal_ui')" profile_name="p_initate_layout"></f_npss_op_reversal_ui >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="initiate_custom_widget"  [hidden]="!screen_instance['initiate_custom_widget'].show" >
			<npss_cs_reversal_initiate [comp_id]="'initiate_custom_widget'" [screen_instance]="screen_instance" profile_name="p_initate_layout"></npss_cs_reversal_initiate>
		</div>
	</div>
</div>

</div>