<div class="p_vertical_details_layout">
 <!-- PROFILE HTML - p_vertical_details_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="transaction_details_view"  [hidden]="!screen_instance['transaction_details_view'].show" >
			<datatable [comp_id]="'transaction_details_view'" [screen_instance]="screen_instance" profile_name="p_vertical_details_layout"></datatable>
		</div>
	</div>
</div>

</div>