<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'qr_ui_generate_qr_code'" [comp_id]="comp_id" [ctrl]="screen_instance.qr_ui_generate_qr_code" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.qr_ui_generate_qr_code.show"></btn>
		<btn [ctrl_id]="'qr_ui_close'" [comp_id]="comp_id" [ctrl]="screen_instance.qr_ui_close" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.qr_ui_close.show"></btn>
 	</div>

</div>