<div class="">
	
	<div class="row dynamic_action_btn">
 		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.bank_ui_back.show" >
			<btn [ctrl_id]="'bank_ui_back'" [comp_id]="comp_id" [ctrl]="screen_instance.bank_ui_back" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.bank_ui_back.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.bank_ui_clear.show" >
			<btn [ctrl_id]="'bank_ui_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.bank_ui_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.bank_ui_clear.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.bank_ui_save.show" >
			<btn [ctrl_id]="'bank_ui_save'" [comp_id]="comp_id" [ctrl]="screen_instance.bank_ui_save" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.bank_ui_save.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.bank_ui_edit.show" >
			<btn [ctrl_id]="'bank_ui_edit'" [comp_id]="comp_id" [ctrl]="screen_instance.bank_ui_edit" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.bank_ui_edit.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.bank_ui_delete.show" >
			<btn [ctrl_id]="'bank_ui_delete'" [comp_id]="comp_id" [ctrl]="screen_instance.bank_ui_delete" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.bank_ui_delete.show"></btn>
		</div>
	</div>

</div>