<div class="p_view_process_log_view_req_and_res_layout">
 <!-- PROFILE HTML - p_view_process_log_view_req_and_res_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-6 col-sm-offset-0 col-xs-offset-0" >
		<div class="view_pro_log_req_and_res_ui" >
			<f_view_pro_log_req_and_res_ui [comp_id]="'view_pro_log_req_and_res_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('view_pro_log_req_and_res_ui','f_view_pro_log_req_and_res_ui')" profile_name="p_view_process_log_view_req_and_res_layout"></f_view_pro_log_req_and_res_ui >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="request_ui" >
			<f_npss_target_request_ui [comp_id]="'request_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('request_ui','f_npss_target_request_ui')" profile_name="p_view_process_log_view_req_and_res_layout"></f_npss_target_request_ui >
		</div>
	</div>
	<div id="R21C2" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="response_ui" >
			<f_npss_target_response_ui [comp_id]="'response_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('response_ui','f_npss_target_response_ui')" profile_name="p_view_process_log_view_req_and_res_layout"></f_npss_target_response_ui >
		</div>
	</div>
</div>

</div>