<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_ip_transaction_details_srch="ngForm">
<div id="RN01" class="row">
	<div #npss_ip_transaction_details_srch_value_date id="RN01CN1" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('value_date')" >
				<cdn_date [ctrl_id]="'npss_ip_transaction_details_srch_value_date'" [comp_id]="comp_id" [ctrl]="ctrl.value_date" [model]="screen_instance[this.comp_id].f_npss_ip_transaction_details_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_date>
	</div>
	<div  id="RN01CN2" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory63')" >
				<cdn_date [ctrl_id]="'npss_ip_transaction_details_srch_memory63'" [comp_id]="comp_id" [ctrl]="ctrl.memory63" [model]="screen_instance[this.comp_id].f_npss_ip_transaction_details_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_date>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN3" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_iban')" >
				<cdn_ctrl [ctrl_id]="'npss_ip_transaction_details_srch_cdtr_iban'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_iban" [model]="screen_instance[this.comp_id].f_npss_ip_transaction_details_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="RN11CN4" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cr_acct_identification')" >
				<txt [ctrl_id]="'npss_ip_transaction_details_srch_cr_acct_identification'" [comp_id]="comp_id" [ctrl]="ctrl.cr_acct_identification" [model]="screen_instance[this.comp_id].f_npss_ip_transaction_details_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN21CN7" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('tran_ref_id')" >
				<txt [ctrl_id]="'npss_ip_transaction_details_srch_tran_ref_id'" [comp_id]="comp_id" [ctrl]="ctrl.tran_ref_id" [model]="screen_instance[this.comp_id].f_npss_ip_transaction_details_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN21" class="row">
	<div  id="RN21CN6" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('uetr')" >
				<cdn_ctrl [ctrl_id]="'npss_ip_transaction_details_srch_uetr'" [comp_id]="comp_id" [ctrl]="ctrl.uetr" [model]="screen_instance[this.comp_id].f_npss_ip_transaction_details_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="RN31CN8" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('clrsysref')" >
				<txt [ctrl_id]="'npss_ip_transaction_details_srch_clrsysref'" [comp_id]="comp_id" [ctrl]="ctrl.clrsysref" [model]="screen_instance[this.comp_id].f_npss_ip_transaction_details_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN9" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('payment_endtoend_id')" >
				<txt [ctrl_id]="'npss_ip_transaction_details_srch_payment_endtoend_id'" [comp_id]="comp_id" [ctrl]="ctrl.payment_endtoend_id" [model]="screen_instance[this.comp_id].f_npss_ip_transaction_details_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="r4" class="row">
	<div  id="RN51CN12" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('intrbk_sttlm_amnt')" >
				<cdn_cur_ctrl [ctrl_id]="'npss_ip_transaction_details_srch_intrbk_sttlm_amnt'" [comp_id]="comp_id" [ctrl]="ctrl.intrbk_sttlm_amnt" [model]="screen_instance[this.comp_id].f_npss_ip_transaction_details_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_cur_ctrl>
	</div>
	<div  id="RN51CN13" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('processing_system')" >
				<cdn_ctrl [ctrl_id]="'npss_ip_transaction_details_srch_processing_system'" [comp_id]="comp_id" [ctrl]="ctrl.processing_system" [model]="screen_instance[this.comp_id].f_npss_ip_transaction_details_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
<div id="RN51" class="row">
	<div  id="RN51CN11" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('process_group')" >
				<cbo [ctrl_id]="'npss_ip_transaction_details_srch_process_group'" [comp_id]="comp_id" [ctrl]="ctrl.process_group" [model]="screen_instance[this.comp_id].f_npss_ip_transaction_details_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
	<div  id="RN51CN12" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('department_code')" >
				<cbo [ctrl_id]="'npss_ip_transaction_details_srch_department_code'" [comp_id]="comp_id" [ctrl]="ctrl.department_code" [model]="screen_instance[this.comp_id].f_npss_ip_transaction_details_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
	<div  id="RN51CN13" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('inward_file_name')" >
				<cdn_ctrl [ctrl_id]="'npss_ip_transaction_details_srch_inward_file_name'" [comp_id]="comp_id" [ctrl]="ctrl.inward_file_name" [model]="screen_instance[this.comp_id].f_npss_ip_transaction_details_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-8 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_search.show" >
			<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
		</div>
		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_clear.show" >
			<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		</div>
	</div>

</div>