<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'dynamic_form_search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.dynamic_form_search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.dynamic_form_search_clear.show"></btn>
		<btn [ctrl_id]="'dynamic_form_search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.dynamic_form_search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.dynamic_form_search_search.show"></btn>
 	</div>

</div>