<div class="p_main_req_and_res_layout">
 <!-- PROFILE HTML - p_main_req_and_res_layout --> 
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="main_back_ui" >
			<f_main_back_ui [comp_id]="'main_back_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('main_back_ui','f_main_back_ui')" profile_name="p_main_req_and_res_layout"></f_main_back_ui >
		</div>
	</div>
</div>
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="main_request_ui" >
			<f_npss_bct_request_ui [comp_id]="'main_request_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('main_request_ui','f_npss_bct_request_ui')" profile_name="p_main_req_and_res_layout"></f_npss_bct_request_ui >
		</div>
	</div>
	<div id="R11C2" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="main_response_ui" >
			<f_npss_bct_response_ui [comp_id]="'main_response_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('main_response_ui','f_npss_bct_response_ui')" profile_name="p_main_req_and_res_layout"></f_npss_bct_response_ui >
		</div>
	</div>
</div>

</div>