<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_response_code_ui="ngForm">
<div id="RN01" class="row">
	<div #npss_response_code_ui_response_code id="RN01CN1" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('response_code')" >
				<cbo [ctrl_id]="'npss_response_code_ui_response_code'" [comp_id]="comp_id" [ctrl]="ctrl.response_code" [model]="screen_instance[this.comp_id].f_npss_response_code_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'remarks_ui_save'" [comp_id]="comp_id" [ctrl]="screen_instance.remarks_ui_save" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.remarks_ui_save.show"></btn>
 	</div>

</div>