<div class="">
	
	<div class="row dynamic_action_btn">
 		<div class="col-md-5 col-sm-0 col-xs-0 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.queue_search_search.show" >
			<btn [ctrl_id]="'queue_search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.queue_search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.queue_search_search.show"></btn>
		</div>
		<div class="col-md-5 col-sm-0 col-xs-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.queue_search_clear.show" >
			<btn [ctrl_id]="'queue_search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.queue_search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.queue_search_clear.show"></btn>
		</div>
	</div>

</div>