<div class="p_personal_date_layout">
 <!-- PROFILE HTML - p_personal_date_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="personal_data_ui" >
			<f_personal_data_ui [comp_id]="'personal_data_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('personal_data_ui','f_personal_data_ui')" profile_name="p_personal_date_layout"></f_personal_data_ui >
		</div>
	</div>
</div>

</div>