<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_shop_ui="ngForm">
<div id="RN01" class="row">
	<div #npss_shop_ui_shop_name id="RN01CN1" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('shop_name')" >
				<txt [ctrl_id]="'npss_shop_ui_shop_name'" [comp_id]="comp_id" [ctrl]="ctrl.shop_name" [model]="screen_instance[this.comp_id].f_npss_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN2" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('shop_mid')" >
				<txt [ctrl_id]="'npss_shop_ui_shop_mid'" [comp_id]="comp_id" [ctrl]="ctrl.shop_mid" [model]="screen_instance[this.comp_id].f_npss_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN3" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('shop_type')" >
				<txt [ctrl_id]="'npss_shop_ui_shop_type'" [comp_id]="comp_id" [ctrl]="ctrl.shop_type" [model]="screen_instance[this.comp_id].f_npss_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN4" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('shop_mcc')" >
				<txt [ctrl_id]="'npss_shop_ui_shop_mcc'" [comp_id]="comp_id" [ctrl]="ctrl.shop_mcc" [model]="screen_instance[this.comp_id].f_npss_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN5" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('shop_iban')" >
				<txt [ctrl_id]="'npss_shop_ui_shop_iban'" [comp_id]="comp_id" [ctrl]="ctrl.shop_iban" [model]="screen_instance[this.comp_id].f_npss_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN6" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('building')" >
				<txt [ctrl_id]="'npss_shop_ui_building'" [comp_id]="comp_id" [ctrl]="ctrl.building" [model]="screen_instance[this.comp_id].f_npss_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN7" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('street')" >
				<txt [ctrl_id]="'npss_shop_ui_street'" [comp_id]="comp_id" [ctrl]="ctrl.street" [model]="screen_instance[this.comp_id].f_npss_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN8" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('city')" >
				<txt [ctrl_id]="'npss_shop_ui_city'" [comp_id]="comp_id" [ctrl]="ctrl.city" [model]="screen_instance[this.comp_id].f_npss_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN9" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('postal_code')" >
				<txt [ctrl_id]="'npss_shop_ui_postal_code'" [comp_id]="comp_id" [ctrl]="ctrl.postal_code" [model]="screen_instance[this.comp_id].f_npss_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN10" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('county')" >
				<txt [ctrl_id]="'npss_shop_ui_county'" [comp_id]="comp_id" [ctrl]="ctrl.county" [model]="screen_instance[this.comp_id].f_npss_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN11" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('country')" >
				<txt [ctrl_id]="'npss_shop_ui_country'" [comp_id]="comp_id" [ctrl]="ctrl.country" [model]="screen_instance[this.comp_id].f_npss_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >

</div>