<div class="p_exchange_queue">
 <!-- PROFILE HTML - p_exchange_queue --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-3 col-sm-6 col-xs-6 col-md-offset-7 col-sm-offset-0 col-xs-offset-0" >
		<div class="navigation" >
			<f_navigation [comp_id]="'navigation'" [screen_instance]="screen_instance" [hidden]="isHidden('navigation','f_navigation')" profile_name="p_exchange_queue"></f_navigation >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-8 col-sm-6 col-xs-6 col-md-offset-2 col-sm-offset-0 col-xs-offset-0" >
		<div class="queue"  [hidden]="!screen_instance['queue'].show" >
			<datatable [comp_id]="'queue'" [screen_instance]="screen_instance" profile_name="p_exchange_queue"></datatable>
		</div>
	</div>
</div>

</div>