<div class="p_view_api_req_layout">
 <!-- PROFILE HTML - p_view_api_req_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-5 col-sm-6 col-xs-6 col-md-offset-6 col-sm-offset-0 col-xs-offset-0" >
		<div class="view_req_back_ui" >
			<f_view_req_back_ui [comp_id]="'view_req_back_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('view_req_back_ui','f_view_req_back_ui')" profile_name="p_view_api_req_layout"></f_view_req_back_ui >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-10 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" >
		<div class="view_api_res_ui" >
			<f_npss_respose_data_ui [comp_id]="'view_api_res_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('view_api_res_ui','f_npss_respose_data_ui')" profile_name="p_view_api_req_layout"></f_npss_respose_data_ui >
		</div>
	</div>
</div>

</div>