<div class="s_bct_review_transactions">
<p_view_req_and_res_layout [screen_instance]="this" [hidden]="!(current_profile=='p_view_req_and_res_layout')"></p_view_req_and_res_layout>
<p_view_history_layout [screen_instance]="this" [hidden]="!(current_profile=='p_view_history_layout')"></p_view_history_layout>
<p_view_request_layout [screen_instance]="this" [hidden]="!(current_profile=='p_view_request_layout')"></p_view_request_layout>
<p_view_response_layout [screen_instance]="this" [hidden]="!(current_profile=='p_view_response_layout')"></p_view_response_layout>
<p_vertical_layout [screen_instance]="this" [hidden]="!(current_profile=='p_vertical_layout')"></p_vertical_layout>
<p_main_layout [screen_instance]="this" [hidden]="!(current_profile=='p_main_layout')"></p_main_layout>

<p-dialog header="{{'' | translate }}"  [closable]="true" (onHide)="closePopup()" responsive="true" breakpoint=600 styleClass="show-popup " [(visible)]="p_search_layout__spap_for_search_showpopup" [contentStyle]="{'overflow-y': 'auto','width': 'auto'}" [draggable]="true" [modal]="true">
	<p_search_layout [screen_instance]="this" ></p_search_layout></p-dialog>
<app-dialog [screen_instance]="this" ></app-dialog>
<div style="display:none">
	<datatable [comp_id]="'process_log_list'" [screen_instance]="this"></datatable>
	<f_hst_process_log_to_main_back [comp_id]="'hst_process_log_to_main_back'" [screen_instance]="this" ></f_hst_process_log_to_main_back >
</div>
</div>