<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_customer_account_ui="ngForm">
<div id="RN01" class="row">
	<div #npss_customer_account_ui_iban id="RN01CN1" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('iban')" >
				<txt [ctrl_id]="'npss_customer_account_ui_iban'" [comp_id]="comp_id" [ctrl]="ctrl.iban" [model]="screen_instance[this.comp_id].f_npss_customer_account_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN2" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('currency')" >
				<txt [ctrl_id]="'npss_customer_account_ui_currency'" [comp_id]="comp_id" [ctrl]="ctrl.currency" [model]="screen_instance[this.comp_id].f_npss_customer_account_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN4" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('instant_payment')" >
				<txt [ctrl_id]="'npss_customer_account_ui_instant_payment'" [comp_id]="comp_id" [ctrl]="ctrl.instant_payment" [model]="screen_instance[this.comp_id].f_npss_customer_account_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN4" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory9')" >
				<multi_select_cbo [ctrl_id]="'npss_customer_account_ui_memory9'" [comp_id]="comp_id" [ctrl]="ctrl.memory9" [model]="screen_instance[this.comp_id].f_npss_customer_account_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></multi_select_cbo>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN5" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory10')" >
				<multi_select_cbo [ctrl_id]="'npss_customer_account_ui_memory10'" [comp_id]="comp_id" [ctrl]="ctrl.memory10" [model]="screen_instance[this.comp_id].f_npss_customer_account_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></multi_select_cbo>
	</div>
	<div  id="RN11CN6" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory11')" >
				<multi_select_cbo [ctrl_id]="'npss_customer_account_ui_memory11'" [comp_id]="comp_id" [ctrl]="ctrl.memory11" [model]="screen_instance[this.comp_id].f_npss_customer_account_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></multi_select_cbo>
	</div>
</div>
	</form>
</fieldset >

</div>