<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_excep_error_ui="ngForm">
<div id="RN01" class="row">
	<div #npss_excep_error_ui_err_datacore id="RN01CN1" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('err_datacore')" >
				<rich_txt [ctrl_id]="'npss_excep_error_ui_err_datacore'" [comp_id]="comp_id" [ctrl]="ctrl.err_datacore" [model]="screen_instance[this.comp_id].f_npss_excep_error_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></rich_txt>
	</div>
</div>
	</form>
</fieldset >

</div>