<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_r_msg_detail_srch="ngForm">
<div id="r0" class="row">
	<div #npss_r_msg_detail_srch_senderbic id="5504f212-e57f-4323-baed-ed2d79bb0774_1678169899972" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('senderbic')" >
				<cdn_ctrl [ctrl_id]="'npss_r_msg_detail_srch_senderbic'" [comp_id]="comp_id" [ctrl]="ctrl.senderbic" [model]="screen_instance[this.comp_id].f_npss_r_msg_detail_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="d1513afa-5af8-41df-ad48-dc2ccef8615c_1678169899972" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('fromdate')" >
				<dtp [ctrl_id]="'npss_r_msg_detail_srch_fromdate'" [comp_id]="comp_id" [ctrl]="ctrl.fromdate" [model]="screen_instance[this.comp_id].f_npss_r_msg_detail_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></dtp>
	</div>
</div>
<div id="1678169899972" class="row">
	<div  id="f5206d47-47e2-4e8a-9674-1e6475f9ffef_1678169899972" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('reftype')" >
				<cdn_ctrl [ctrl_id]="'npss_r_msg_detail_srch_reftype'" [comp_id]="comp_id" [ctrl]="ctrl.reftype" [model]="screen_instance[this.comp_id].f_npss_r_msg_detail_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="23fde996-2c52-44af-af15-56164d857c9f_1678169899972" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('ref')" >
				<cdn_ctrl [ctrl_id]="'npss_r_msg_detail_srch_ref'" [comp_id]="comp_id" [ctrl]="ctrl.ref" [model]="screen_instance[this.comp_id].f_npss_r_msg_detail_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
 	</div>

</div>