<div class="p_main_layout">
 <!-- PROFILE HTML - p_main_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="navigation" >
			<f_navigation [comp_id]="'navigation'" [screen_instance]="screen_instance" [hidden]="isHidden('navigation','f_navigation')" profile_name="p_main_layout"></f_navigation >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-4 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="queue"  [hidden]="!screen_instance['queue'].show" >
			<datatable [comp_id]="'queue'" [screen_instance]="screen_instance" profile_name="p_main_layout"></datatable>
		</div>
	</div>
	<div id="R21C2" class="column col-md-8 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="merchant_list"  [hidden]="!screen_instance['merchant_list'].show" >
			<datatable [comp_id]="'merchant_list'" [screen_instance]="screen_instance" profile_name="p_main_layout"></datatable>
		</div>
	</div>
</div>
<div id="R31" class="row">
	<div id="R31C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="process_log_list"  [hidden]="!screen_instance['process_log_list'].show" >
			<datatable [comp_id]="'process_log_list'" [screen_instance]="screen_instance" profile_name="p_main_layout"></datatable>
		</div>
	</div>
</div>

</div>