<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'navigation_review'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_review" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_review.show"></btn>
		<btn [ctrl_id]="'navigation_view_tran'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_view_tran" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_view_tran.show"></btn>
		<btn [ctrl_id]="'navigation_view_log_history'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_view_log_history" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_view_log_history.show"></btn>
		<btn [ctrl_id]="'navigation_view_message_history'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_view_message_history" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_view_message_history.show"></btn>
 	</div>

</div>