<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_created_date_srch="ngForm">
<div id="RN01" class="row">
	<div #created_date_srch_memory7 id="RN01CN1" class="column col-md-9 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory7')" >
				<cdn_date [ctrl_id]="'created_date_srch_memory7'" [comp_id]="comp_id" [ctrl]="ctrl.memory7" [model]="screen_instance[this.comp_id].f_created_date_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_date>
	</div>
	<div  id="RN01CN2" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory11')" >
				<txt [ctrl_id]="'created_date_srch_memory11'" [comp_id]="comp_id" [ctrl]="ctrl.memory11" [model]="screen_instance[this.comp_id].f_created_date_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >

</div>