<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'api_input_ui_actions_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.api_input_ui_actions_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.api_input_ui_actions_clear.show"></btn>
		<btn [ctrl_id]="'api_input_ui_actions_fetch'" [comp_id]="comp_id" [ctrl]="screen_instance.api_input_ui_actions_fetch" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.api_input_ui_actions_fetch.show"></btn>
		<btn [ctrl_id]="'api_input_ui_actions_view_response'" [comp_id]="comp_id" [ctrl]="screen_instance.api_input_ui_actions_view_response" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.api_input_ui_actions_view_response.show"></btn>
		<btn [ctrl_id]="'api_input_ui_actions_trg_hide'" [comp_id]="comp_id" [ctrl]="screen_instance.api_input_ui_actions_trg_hide" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.api_input_ui_actions_trg_hide.show"></btn>
		<btn [ctrl_id]="'api_input_ui_actions_fetch_trg'" [comp_id]="comp_id" [ctrl]="screen_instance.api_input_ui_actions_fetch_trg" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.api_input_ui_actions_fetch_trg.show"></btn>
 	</div>

</div>