<div class="s_rct_posting_suspicious">
<p_main_layout [screen_instance]="this" [hidden]="!(current_profile=='p_main_layout')"></p_main_layout>

<p-dialog header="{{'' | translate }}"  [closable]="true" (onHide)="closePopup()" responsive="true" breakpoint=600 styleClass="show-popup " [(visible)]="p_search_layout__spap_for_search_showpopup" [contentStyle]="{'overflow-y': 'auto','width': 'auto'}" [draggable]="true" [modal]="true">
	<p_search_layout [screen_instance]="this" ></p_search_layout></p-dialog>

<p-dialog header="{{'' | translate }}"  [closable]="true" (onHide)="closePopup()" responsive="true" breakpoint=600 styleClass="show-popup " [(visible)]="p_cbs_layout__spap_for_cbs_ui_showpopup" [contentStyle]="{'overflow-y': 'auto','height': '170px','width': '50px'}" [draggable]="true" [modal]="true">
	<p_cbs_layout [screen_instance]="this" ></p_cbs_layout></p-dialog>
<app-dialog [screen_instance]="this" ></app-dialog>
</div>