<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'view_api_failure__action_ui_back'" [comp_id]="comp_id" [ctrl]="screen_instance.view_api_failure__action_ui_back" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.view_api_failure__action_ui_back.show"></btn>
		<btn [ctrl_id]="'view_api_failure__action_ui_search'" [comp_id]="comp_id" [ctrl]="screen_instance.view_api_failure__action_ui_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.view_api_failure__action_ui_search.show"></btn>
		<btn [ctrl_id]="'view_api_failure__action_ui_view_req_and_res'" [comp_id]="comp_id" [ctrl]="screen_instance.view_api_failure__action_ui_view_req_and_res" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.view_api_failure__action_ui_view_req_and_res.show"></btn>
		<btn [ctrl_id]="'view_api_failure__action_ui_view_failure'" [comp_id]="comp_id" [ctrl]="screen_instance.view_api_failure__action_ui_view_failure" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.view_api_failure__action_ui_view_failure.show"></btn>
 	</div>

</div>