<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_power_reports_srch="ngForm">
<div id="RN01" class="row">
	<div #npss_power_reports_srch_memory6 id="RN01CN1" class="column col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory6')" >
				<txt [ctrl_id]="'npss_power_reports_srch_memory6'" [comp_id]="comp_id" [ctrl]="ctrl.memory6" [model]="screen_instance[this.comp_id].f_npss_power_reports_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN2" class="column col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory7')" >
				<txt [ctrl_id]="'npss_power_reports_srch_memory7'" [comp_id]="comp_id" [ctrl]="ctrl.memory7" [model]="screen_instance[this.comp_id].f_npss_power_reports_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN21" class="row">
	<div  id="RN21CN3" class="column col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory8')" >
				<txt [ctrl_id]="'npss_power_reports_srch_memory8'" [comp_id]="comp_id" [ctrl]="ctrl.memory8" [model]="screen_instance[this.comp_id].f_npss_power_reports_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-2 col-sm-0 col-xs-0 col-md-offset-8 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_search.show" >
			<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
		</div>
		<div class="col-md-2 col-sm-0 col-xs-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_clear.show" >
			<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		</div>
	</div>

</div>