<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_bank_details_ui="ngForm">
<div id="RN01" class="row">
	<div #bank_details_ui_bank_code id="RN01CN1" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('bank_code')" >
				<cbo [ctrl_id]="'bank_details_ui_bank_code'" [comp_id]="comp_id" [ctrl]="ctrl.bank_code" [model]="screen_instance[this.comp_id].f_bank_details_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN2" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('account_no')" >
				<txt [ctrl_id]="'bank_details_ui_account_no'" [comp_id]="comp_id" [ctrl]="ctrl.account_no" [model]="screen_instance[this.comp_id].f_bank_details_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN21" class="row">
	<div  id="RN21CN3" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('is_default')" >
				<chk [ctrl_id]="'bank_details_ui_is_default'" [comp_id]="comp_id" [ctrl]="ctrl.is_default" [model]="screen_instance[this.comp_id].f_bank_details_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></chk>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.corporate_accounts_ui_back.show" >
			<btn [ctrl_id]="'corporate_accounts_ui_back'" [comp_id]="comp_id" [ctrl]="screen_instance.corporate_accounts_ui_back" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.corporate_accounts_ui_back.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.corporate_accounts_ui_clear.show" >
			<btn [ctrl_id]="'corporate_accounts_ui_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.corporate_accounts_ui_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.corporate_accounts_ui_clear.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.corporate_accounts_ui_save.show" >
			<btn [ctrl_id]="'corporate_accounts_ui_save'" [comp_id]="comp_id" [ctrl]="screen_instance.corporate_accounts_ui_save" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.corporate_accounts_ui_save.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.corporate_accounts_ui_edit.show" >
			<btn [ctrl_id]="'corporate_accounts_ui_edit'" [comp_id]="comp_id" [ctrl]="screen_instance.corporate_accounts_ui_edit" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.corporate_accounts_ui_edit.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.corporate_accounts_ui_delete.show" >
			<btn [ctrl_id]="'corporate_accounts_ui_delete'" [comp_id]="comp_id" [ctrl]="screen_instance.corporate_accounts_ui_delete" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.corporate_accounts_ui_delete.show"></btn>
		</div>
	</div>

</div>