<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'history_search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.history_search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.history_search_clear.show"></btn>
		<btn [ctrl_id]="'history_search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.history_search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.history_search_search.show"></btn>
		<btn [ctrl_id]="'history_search_view_pacs008'" [comp_id]="comp_id" [ctrl]="screen_instance.history_search_view_pacs008" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.history_search_view_pacs008.show"></btn>
		<btn [ctrl_id]="'history_search_view_pacs002'" [comp_id]="comp_id" [ctrl]="screen_instance.history_search_view_pacs002" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.history_search_view_pacs002.show"></btn>
 	</div>

</div>