<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_customer_uicg="ngForm">
<div id="RN01" class="row">
	<div #npss_customer_uicg_customer id="RN01CN1" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('customer')" >
				<txt [ctrl_id]="'npss_customer_uicg_customer'" [comp_id]="comp_id" [ctrl]="ctrl.customer" [model]="screen_instance[this.comp_id].f_npss_customer_uicg.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN1001" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('emirates_id')" >
				<txt [ctrl_id]="'npss_customer_uicg_emirates_id'" [comp_id]="comp_id" [ctrl]="ctrl.emirates_id" [model]="screen_instance[this.comp_id].f_npss_customer_uicg.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN2" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('phone_no')" >
				<txt [ctrl_id]="'npss_customer_uicg_phone_no'" [comp_id]="comp_id" [ctrl]="ctrl.phone_no" [model]="screen_instance[this.comp_id].f_npss_customer_uicg.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN3" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('email_id')" >
				<txt [ctrl_id]="'npss_customer_uicg_email_id'" [comp_id]="comp_id" [ctrl]="ctrl.email_id" [model]="screen_instance[this.comp_id].f_npss_customer_uicg.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN21" class="row">
	<div  id="RN21CN4" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('iban')" >
				<txt [ctrl_id]="'npss_customer_uicg_iban'" [comp_id]="comp_id" [ctrl]="ctrl.iban" [model]="screen_instance[this.comp_id].f_npss_customer_uicg.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN21CN5" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('participant_code')" >
				<txt [ctrl_id]="'npss_customer_uicg_participant_code'" [comp_id]="comp_id" [ctrl]="ctrl.participant_code" [model]="screen_instance[this.comp_id].f_npss_customer_uicg.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-1 col-sm-0 col-xs-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.data_entry_back.show" >
			<btn [ctrl_id]="'data_entry_back'" [comp_id]="comp_id" [ctrl]="screen_instance.data_entry_back" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.data_entry_back.show"></btn>
		</div>
		<div class="col-md-1 col-sm-0 col-xs-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.data_entry_clear.show" >
			<btn [ctrl_id]="'data_entry_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.data_entry_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.data_entry_clear.show"></btn>
		</div>
		<div class="col-md-1 col-sm-0 col-xs-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.data_entry_save.show" >
			<btn [ctrl_id]="'data_entry_save'" [comp_id]="comp_id" [ctrl]="screen_instance.data_entry_save" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.data_entry_save.show"></btn>
		</div>
		<div class="col-md-1 col-sm-0 col-xs-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.data_entry_edit.show" >
			<btn [ctrl_id]="'data_entry_edit'" [comp_id]="comp_id" [ctrl]="screen_instance.data_entry_edit" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.data_entry_edit.show"></btn>
		</div>
		<div class="col-md-1 col-sm-0 col-xs-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.data_entry_delete.show" >
			<btn [ctrl_id]="'data_entry_delete'" [comp_id]="comp_id" [ctrl]="screen_instance.data_entry_delete" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.data_entry_delete.show"></btn>
		</div>
	</div>

</div>