<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_mi_get_deal_ui="ngForm">
<div id="r0" class="row">
	<div #npss_mi_get_deal_ui_buy_currency id="8f2fe708-9d1e-4ccd-a680-653d9ca5c737_1678864936033" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('buy_currency')" >
				<txt [ctrl_id]="'npss_mi_get_deal_ui_buy_currency'" [comp_id]="comp_id" [ctrl]="ctrl.buy_currency" [model]="screen_instance[this.comp_id].f_npss_mi_get_deal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="2a59a568-36f1-439a-b217-bf57e3d886b0_1678864936033" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('sell_currency')" >
				<txt [ctrl_id]="'npss_mi_get_deal_ui_sell_currency'" [comp_id]="comp_id" [ctrl]="ctrl.sell_currency" [model]="screen_instance[this.comp_id].f_npss_mi_get_deal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="a224cb3e-7e4d-4b34-ad18-353b7539d631_1678864936033" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('contra_amount')" >
				<txt [ctrl_id]="'npss_mi_get_deal_ui_contra_amount'" [comp_id]="comp_id" [ctrl]="ctrl.contra_amount" [model]="screen_instance[this.comp_id].f_npss_mi_get_deal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="a3a47179-a615-48e6-a6bf-2f5b862ef830_1678864936033" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dealt_amount')" >
				<txt [ctrl_id]="'npss_mi_get_deal_ui_dealt_amount'" [comp_id]="comp_id" [ctrl]="ctrl.dealt_amount" [model]="screen_instance[this.comp_id].f_npss_mi_get_deal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >

</div>