<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'ip_payment_form_action_response'" [comp_id]="comp_id" [ctrl]="screen_instance.ip_payment_form_action_response" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.ip_payment_form_action_response.show"></btn>
		<btn [ctrl_id]="'ip_payment_form_action_verify_recipient_iban'" [comp_id]="comp_id" [ctrl]="screen_instance.ip_payment_form_action_verify_recipient_iban" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.ip_payment_form_action_verify_recipient_iban.show"></btn>
 	</div>

</div>