<div class="p_exchange_layouts">
 <!-- PROFILE HTML - p_exchange_layouts --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-4 col-sm-6 col-xs-6 col-md-offset-7 col-sm-offset-0 col-xs-offset-0" >
		<div class="navigation" >
			<f_navigation [comp_id]="'navigation'" [screen_instance]="screen_instance" [hidden]="isHidden('navigation','f_navigation')" profile_name="p_exchange_layouts"></f_navigation >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-10 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" >
		<div class="exchange_detail"  [hidden]="!screen_instance['exchange_detail'].show" >
			<exg_download [comp_id]="'exchange_detail'" [screen_instance]="screen_instance" profile_name="p_exchange_layouts"></exg_download>
		</div>
	</div>
</div>

</div>