<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'navigation_ui_search'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_search.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_tran'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_tran" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_tran.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_process_log'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_process_log" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_process_log.show"></btn>
		<btn [ctrl_id]="'navigation_ui_initiate'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_initiate" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_initiate.show"></btn>
		<btn [ctrl_id]="'navigation_ui_approve'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_approve" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_approve.show"></btn>
		<btn [ctrl_id]="'navigation_ui_reject'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_reject" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_reject.show"></btn>
 	</div>

</div>