<div class="p_ip_pending_layout">
 <!-- PROFILE HTML - p_ip_pending_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="navigation" >
			<f_navigation [comp_id]="'navigation'" [screen_instance]="screen_instance" [hidden]="isHidden('navigation','f_navigation')" profile_name="p_ip_pending_layout"></f_navigation >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C2" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="transaction_list"  [hidden]="!screen_instance['transaction_list'].show" >
			<datatable [comp_id]="'transaction_list'" [screen_instance]="screen_instance" profile_name="p_ip_pending_layout"></datatable>
		</div>
	</div>
</div>

</div>