<div class="s_view_all_transactions">
<p_view_request_layout [screen_instance]="this" [hidden]="!(current_profile=='p_view_request_layout')"></p_view_request_layout>
<p_view_response_layout [screen_instance]="this" [hidden]="!(current_profile=='p_view_response_layout')"></p_view_response_layout>
<p_view_history_layout [screen_instance]="this" [hidden]="!(current_profile=='p_view_history_layout')"></p_view_history_layout>
<p_refund_layout [screen_instance]="this" [hidden]="!(current_profile=='p_refund_layout')"></p_refund_layout>
<p_vertical_layout [screen_instance]="this" [hidden]="!(current_profile=='p_vertical_layout')"></p_vertical_layout>
<p_main_layout [screen_instance]="this" [hidden]="!(current_profile=='p_main_layout')"></p_main_layout>

<p-dialog header="{{'Search' | translate }}"  [closable]="true" (onHide)="closePopup()" responsive="true" breakpoint=600 styleClass="show-popup " [(visible)]="p_search_layout__spap_for_search_showpopup" [contentStyle]="{'overflow-y': 'auto','height': '400px','width': '600px'}" [draggable]="true" [modal]="true">
	<p_search_layout [screen_instance]="this" ></p_search_layout></p-dialog>
<app-dialog [screen_instance]="this" ></app-dialog>
<div style="display:none">
	<datatable [comp_id]="'queue'" [screen_instance]="this"></datatable>
	<datatable [comp_id]="'hidden_list'" [screen_instance]="this"></datatable>
</div>
</div>