<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'payment_form_tbc1'" [comp_id]="comp_id" [ctrl]="screen_instance.payment_form_tbc1" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.payment_form_tbc1.show"></btn>
		<btn [ctrl_id]="'payment_form_tbc_controls'" [comp_id]="comp_id" [ctrl]="screen_instance.payment_form_tbc_controls" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.payment_form_tbc_controls.show"></btn>
		<btn [ctrl_id]="'payment_form_tbc_hide'" [comp_id]="comp_id" [ctrl]="screen_instance.payment_form_tbc_hide" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.payment_form_tbc_hide.show"></btn>
 	</div>

</div>