<div class="s_merchant_enrolment">
<p_add_cash_list_layout [screen_instance]="this" [hidden]="!(current_profile=='p_add_cash_list_layout')"></p_add_cash_list_layout>
<p_add_cash_layout [screen_instance]="this" [hidden]="!(current_profile=='p_add_cash_layout')"></p_add_cash_layout>
<p_shop_layout [screen_instance]="this" [hidden]="!(current_profile=='p_shop_layout')"></p_shop_layout>
<p_bank_layout [screen_instance]="this" [hidden]="!(current_profile=='p_bank_layout')"></p_bank_layout>
<p_data_entry_layout [screen_instance]="this" [hidden]="!(current_profile=='p_data_entry_layout')"></p_data_entry_layout>
<p_list_layout [screen_instance]="this" [hidden]="!(current_profile=='p_list_layout')"></p_list_layout>

<p-dialog header="{{'Search' | translate }}"  [closable]="true" (onHide)="closePopup()" responsive="true" breakpoint=600 styleClass="show-popup " [(visible)]="p_search_layout__spap_from_list_search_showpopup" [contentStyle]="{'overflow-y': 'auto','height': '400px','width': '650px'}" [draggable]="true" [modal]="true">
	<p_search_layout [screen_instance]="this" ></p_search_layout></p-dialog>

<p-dialog header="{{'Modify Phone No' | translate }}"  [closable]="true" (onHide)="closePopup()" responsive="true" breakpoint=600 styleClass="show-popup " [(visible)]="p_phone_no_layout__spap_from_phno_ui_bt_showpopup" [contentStyle]="{'overflow-y': 'auto','height': '200px','width': '500px'}" [draggable]="true" [modal]="true">
	<p_phone_no_layout [screen_instance]="this" ></p_phone_no_layout></p-dialog>

<p-dialog header="{{'Modify Personal Data' | translate }}"  [closable]="true" (onHide)="closePopup()" responsive="true" breakpoint=600 styleClass="show-popup " [(visible)]="p_personal_date_layout__spap_from_psnldata_bt_showpopup" [contentStyle]="{'overflow-y': 'auto','height': '200px','width': '500px'}" [draggable]="true" [modal]="true">
	<p_personal_date_layout [screen_instance]="this" ></p_personal_date_layout></p-dialog>
<app-dialog [screen_instance]="this" ></app-dialog>
</div>