<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_rct_reversal_ui="ngForm">
<div id="RN01" class="row">
	<div #npss_rct_reversal_ui_value_date id="RN01CN1" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('value_date')" >
				<dtp [ctrl_id]="'npss_rct_reversal_ui_value_date'" [comp_id]="comp_id" [ctrl]="ctrl.value_date" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></dtp>
	</div>
	<div  id="RN11CN3" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_iban')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_cdtr_iban'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_iban" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN13" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cr_acct_identification')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_cr_acct_identification'" [comp_id]="comp_id" [ctrl]="ctrl.cr_acct_identification" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN13001" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory96')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_memory96'" [comp_id]="comp_id" [ctrl]="ctrl.memory96" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN11" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_acct_name')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_cdtr_acct_name'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_acct_name" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN12" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('clrsysref')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_clrsysref'" [comp_id]="comp_id" [ctrl]="ctrl.clrsysref" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="r1" class="row">
	<div  id="RN31CN13" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('payment_endtoend_id')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_payment_endtoend_id'" [comp_id]="comp_id" [ctrl]="ctrl.payment_endtoend_id" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN2" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('uetr')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_uetr'" [comp_id]="comp_id" [ctrl]="ctrl.uetr" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN4" class="column col-md-2 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_iban')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_dbtr_iban'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_iban" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN21CN5" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_acct_name')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_dbtr_acct_name'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_acct_name" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN21CN6" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('intrbk_sttlm_cur')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_intrbk_sttlm_cur'" [comp_id]="comp_id" [ctrl]="ctrl.intrbk_sttlm_cur" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN31" class="row">
	<div  id="RN31CN17" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('intrbk_sttlm_amnt')" >
				<cur [ctrl_id]="'npss_rct_reversal_ui_intrbk_sttlm_amnt'" [comp_id]="comp_id" [ctrl]="ctrl.intrbk_sttlm_amnt" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cur>
	</div>
	<div  id="RN31CN18" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory110')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_memory110'" [comp_id]="comp_id" [ctrl]="ctrl.memory110" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN19" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('tran_charge')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_tran_charge'" [comp_id]="comp_id" [ctrl]="ctrl.tran_charge" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN21" class="row">
	<div  id="RN21CN15" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('buy_margin')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_buy_margin'" [comp_id]="comp_id" [ctrl]="ctrl.buy_margin" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN21CN16" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('tran_amount')" >
				<txt [ctrl_id]="'npss_rct_reversal_ui_tran_amount'" [comp_id]="comp_id" [ctrl]="ctrl.tran_amount" [model]="screen_instance[this.comp_id].f_npss_rct_reversal_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >

</div>