<div class="p_view_main_req_and_res_layout">
 <!-- PROFILE HTML - p_view_main_req_and_res_layout --> 
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="back_ui" >
			<f_back_ui [comp_id]="'back_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('back_ui','f_back_ui')" profile_name="p_view_main_req_and_res_layout"></f_back_ui >
		</div>
	</div>
</div>
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="main_request_ui" >
			<f_npss_target_main_page_request_ui [comp_id]="'main_request_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('main_request_ui','f_npss_target_main_page_request_ui')" profile_name="p_view_main_req_and_res_layout"></f_npss_target_main_page_request_ui >
		</div>
	</div>
	<div id="R11C2" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="main_response_ui" >
			<f_npss_target_main_page_response_ui [comp_id]="'main_response_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('main_response_ui','f_npss_target_main_page_response_ui')" profile_name="p_view_main_req_and_res_layout"></f_npss_target_main_page_response_ui >
		</div>
	</div>
</div>

</div>