<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_hst_dashboard_srch="ngForm">
<div id="RN01" class="row">
	<div #npss_hst_dashboard_srch_value_date id="RN01CN1" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('value_date')" >
				<dtp [ctrl_id]="'npss_hst_dashboard_srch_value_date'" [comp_id]="comp_id" [ctrl]="ctrl.value_date" [model]="screen_instance[this.comp_id].f_npss_hst_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></dtp>
	</div>
	<div  id="RN01CN1001" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('process_type')" >
				<txt [ctrl_id]="'npss_hst_dashboard_srch_process_type'" [comp_id]="comp_id" [ctrl]="ctrl.process_type" [model]="screen_instance[this.comp_id].f_npss_hst_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN2" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('hdr_msg_id')" >
				<txt [ctrl_id]="'npss_hst_dashboard_srch_hdr_msg_id'" [comp_id]="comp_id" [ctrl]="ctrl.hdr_msg_id" [model]="screen_instance[this.comp_id].f_npss_hst_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN3" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('channel_id')" >
				<txt [ctrl_id]="'npss_hst_dashboard_srch_channel_id'" [comp_id]="comp_id" [ctrl]="ctrl.channel_id" [model]="screen_instance[this.comp_id].f_npss_hst_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN4" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_phone_no')" >
				<txt [ctrl_id]="'npss_hst_dashboard_srch_dbtr_phone_no'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_phone_no" [model]="screen_instance[this.comp_id].f_npss_hst_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN5" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_email_id')" >
				<txt [ctrl_id]="'npss_hst_dashboard_srch_dbtr_email_id'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_email_id" [model]="screen_instance[this.comp_id].f_npss_hst_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN21" class="row">
	<div  id="RN21CN6" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_document_id')" >
				<txt [ctrl_id]="'npss_hst_dashboard_srch_dbtr_document_id'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_document_id" [model]="screen_instance[this.comp_id].f_npss_hst_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN21CN7" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_iban')" >
				<txt [ctrl_id]="'npss_hst_dashboard_srch_cdtr_iban'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_iban" [model]="screen_instance[this.comp_id].f_npss_hst_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN21CN8" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_phone_no')" >
				<txt [ctrl_id]="'npss_hst_dashboard_srch_cdtr_phone_no'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_phone_no" [model]="screen_instance[this.comp_id].f_npss_hst_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN31" class="row">
	<div  id="RN31CN9" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_email_id')" >
				<txt [ctrl_id]="'npss_hst_dashboard_srch_cdtr_email_id'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_email_id" [model]="screen_instance[this.comp_id].f_npss_hst_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN10" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_document_id')" >
				<txt [ctrl_id]="'npss_hst_dashboard_srch_cdtr_document_id'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_document_id" [model]="screen_instance[this.comp_id].f_npss_hst_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN11" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('intrbk_sttlm_amnt')" >
				<cur [ctrl_id]="'npss_hst_dashboard_srch_intrbk_sttlm_amnt'" [comp_id]="comp_id" [ctrl]="ctrl.intrbk_sttlm_amnt" [model]="screen_instance[this.comp_id].f_npss_hst_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cur>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-8 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_search.show" >
			<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
		</div>
		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_clear.show" >
			<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		</div>
	</div>

</div>