<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'navigation_ui_search'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_search.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_process_log'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_process_log" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_process_log.show"></btn>
		<btn [ctrl_id]="'navigation_ui_entrolment'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_entrolment" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_entrolment.show"></btn>
		<btn [ctrl_id]="'navigation_ui_unentrolment'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_unentrolment" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_unentrolment.show"></btn>
		<btn [ctrl_id]="'navigation_ui_update_personal'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_update_personal" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_update_personal.show"></btn>
		<btn [ctrl_id]="'navigation_ui_change_mobile_no'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_change_mobile_no" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_change_mobile_no.show"></btn>
		<btn [ctrl_id]="'navigation_ui_block_unblock_account'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_block_unblock_account" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_block_unblock_account.show"></btn>
		<btn [ctrl_id]="'navigation_ui_add_bank_account'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_add_bank_account" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_add_bank_account.show"></btn>
		<btn [ctrl_id]="'navigation_ui_tri_btn1'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_tri_btn1" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_tri_btn1.show"></btn>
		<btn [ctrl_id]="'navigation_ui_trg_btn2'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_trg_btn2" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_trg_btn2.show"></btn>
 	</div>

</div>