<div class="p_view_history_layout">
 <!-- PROFILE HTML - p_view_history_layout --> 
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-7 col-sm-6 col-xs-6 col-md-offset-5 col-sm-offset-0 col-xs-offset-0" >
		<div class="hst_process_log_to_main_back" >
			<f_hst_process_log_to_main_back [comp_id]="'hst_process_log_to_main_back'" [screen_instance]="screen_instance" [hidden]="isHidden('hst_process_log_to_main_back','f_hst_process_log_to_main_back')" profile_name="p_view_history_layout"></f_hst_process_log_to_main_back >
		</div>
	</div>
</div>
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="history_detail"  [hidden]="!screen_instance['history_detail'].show" >
			<datatable [comp_id]="'history_detail'" [screen_instance]="screen_instance" profile_name="p_view_history_layout"></datatable>
		</div>
	</div>
</div>

</div>