<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'action_back'" [comp_id]="comp_id" [ctrl]="screen_instance.action_back" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.action_back.show"></btn>
		<btn [ctrl_id]="'action_enrol'" [comp_id]="comp_id" [ctrl]="screen_instance.action_enrol" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.action_enrol.show"></btn>
		<btn [ctrl_id]="'action_change_mobile_number'" [comp_id]="comp_id" [ctrl]="screen_instance.action_change_mobile_number" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.action_change_mobile_number.show"></btn>
		<btn [ctrl_id]="'action_update_personal_data'" [comp_id]="comp_id" [ctrl]="screen_instance.action_update_personal_data" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.action_update_personal_data.show"></btn>
		<btn [ctrl_id]="'action_unenrol'" [comp_id]="comp_id" [ctrl]="screen_instance.action_unenrol" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.action_unenrol.show"></btn>
		<btn [ctrl_id]="'action_add_bank_account'" [comp_id]="comp_id" [ctrl]="screen_instance.action_add_bank_account" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.action_add_bank_account.show"></btn>
 	</div>

</div>