<div class="p_main_layout">
 <!-- PROFILE HTML - p_main_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
<div id="R11C1R0" class="row">
	<div id="R11C1R0C1" class="column col-md-5 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="search" >
			<f_npss_liq_cycle_srch [comp_id]="'search'" [screen_instance]="screen_instance" [hidden]="isHidden('search','f_npss_liq_cycle_srch')" profile_name="p_main_layout"></f_npss_liq_cycle_srch >
		</div>
	</div>
	<div id="R11C1R0C2" class="column col-md-7 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="api_input_ui" >
			<f_npss_liq_cycle_ui [comp_id]="'api_input_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('api_input_ui','f_npss_liq_cycle_ui')" profile_name="p_main_layout"></f_npss_liq_cycle_ui >
		</div>
	</div>
</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="list"  [hidden]="!screen_instance['list'].show" >
			<datatable [comp_id]="'list'" [screen_instance]="screen_instance" profile_name="p_main_layout"></datatable>
		</div>
	</div>
</div>

</div>