<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'payment_form_action_back'" [comp_id]="comp_id" [ctrl]="screen_instance.payment_form_action_back" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.payment_form_action_back.show"></btn>
		<btn [ctrl_id]="'payment_form_action_confirm'" [comp_id]="comp_id" [ctrl]="screen_instance.payment_form_action_confirm" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.payment_form_action_confirm.show"></btn>
		<btn [ctrl_id]="'payment_form_action_reject'" [comp_id]="comp_id" [ctrl]="screen_instance.payment_form_action_reject" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.payment_form_action_reject.show"></btn>
		<btn [ctrl_id]="'payment_form_action_response'" [comp_id]="comp_id" [ctrl]="screen_instance.payment_form_action_response" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.payment_form_action_response.show"></btn>
		<btn [ctrl_id]="'payment_form_action_verify_recipient_iban'" [comp_id]="comp_id" [ctrl]="screen_instance.payment_form_action_verify_recipient_iban" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.payment_form_action_verify_recipient_iban.show"></btn>
		<btn [ctrl_id]="'payment_form_action_confirm_payment'" [comp_id]="comp_id" [ctrl]="screen_instance.payment_form_action_confirm_payment" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.payment_form_action_confirm_payment.show"></btn>
		<btn [ctrl_id]="'payment_form_action_verify_sender_balance'" [comp_id]="comp_id" [ctrl]="screen_instance.payment_form_action_verify_sender_balance" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.payment_form_action_verify_sender_balance.show"></btn>
		<btn [ctrl_id]="'payment_form_action_verify_sender_iban'" [comp_id]="comp_id" [ctrl]="screen_instance.payment_form_action_verify_sender_iban" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.payment_form_action_verify_sender_iban.show"></btn>
 	</div>

</div>