<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'sub_navigation_ui_remove'" [comp_id]="comp_id" [ctrl]="screen_instance.sub_navigation_ui_remove" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.sub_navigation_ui_remove.show"></btn>
		<btn [ctrl_id]="'sub_navigation_ui_block_unblocks'" [comp_id]="comp_id" [ctrl]="screen_instance.sub_navigation_ui_block_unblocks" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.sub_navigation_ui_block_unblocks.show"></btn>
		<btn [ctrl_id]="'sub_navigation_ui_set_default'" [comp_id]="comp_id" [ctrl]="screen_instance.sub_navigation_ui_set_default" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.sub_navigation_ui_set_default.show"></btn>
		<btn [ctrl_id]="'sub_navigation_ui_add_bank_accountss'" [comp_id]="comp_id" [ctrl]="screen_instance.sub_navigation_ui_add_bank_accountss" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.sub_navigation_ui_add_bank_accountss.show"></btn>
 	</div>

</div>