<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'process_log_ui_back'" [comp_id]="comp_id" [ctrl]="screen_instance.process_log_ui_back" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.process_log_ui_back.show"></btn>
		<btn [ctrl_id]="'process_log_ui_view_request'" [comp_id]="comp_id" [ctrl]="screen_instance.process_log_ui_view_request" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.process_log_ui_view_request.show"></btn>
		<btn [ctrl_id]="'process_log_ui_view_response'" [comp_id]="comp_id" [ctrl]="screen_instance.process_log_ui_view_response" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.process_log_ui_view_response.show"></btn>
		<btn [ctrl_id]="'process_log_ui_view_req_and_res'" [comp_id]="comp_id" [ctrl]="screen_instance.process_log_ui_view_req_and_res" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.process_log_ui_view_req_and_res.show"></btn>
 	</div>

</div>