<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'navigation_pl_back'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_pl_back" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_pl_back.show"></btn>
		<btn [ctrl_id]="'navigation_pl_view_req_and_res'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_pl_view_req_and_res" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_pl_view_req_and_res.show"></btn>
		<btn [ctrl_id]="'navigation_pl_view_failure'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_pl_view_failure" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_pl_view_failure.show"></btn>
		<btn [ctrl_id]="'navigation_pl_pie_chart'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_pl_pie_chart" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_pl_pie_chart.show"></btn>
		<btn [ctrl_id]="'navigation_pl_bar_chart'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_pl_bar_chart" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_pl_bar_chart.show"></btn>
 	</div>

</div>