<div class="p_view_request_layout">
 <!-- PROFILE HTML - p_view_request_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-10 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" >
		<div class="request_ui" >
			<f_npss_summary_request_ui [comp_id]="'request_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('request_ui','f_npss_summary_request_ui')" profile_name="p_view_request_layout"></f_npss_summary_request_ui >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-5 col-sm-offset-0 col-xs-offset-0" >
		<div class="single_back_ui" >
			<f_single_back_ui [comp_id]="'single_back_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('single_back_ui','f_single_back_ui')" profile_name="p_view_request_layout"></f_single_back_ui >
		</div>
	</div>
</div>

</div>