<div class="p_view_process_log_search">
 <!-- PROFILE HTML - p_view_process_log_search --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="process_log_search" >
			<f_process_log_search [comp_id]="'process_log_search'" [screen_instance]="screen_instance" [hidden]="isHidden('process_log_search','f_process_log_search')" profile_name="p_view_process_log_search"></f_process_log_search >
		</div>
	</div>
</div>

</div>