<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_post_dashboard_srch="ngForm">
<div id="1666009098411" class="row">
	<div #npss_post_dashboard_srch_value_date id="f615d96a-0085-4454-bd44-2302e9ee43ab_1666009098411" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('value_date')" >
				<dtp [ctrl_id]="'npss_post_dashboard_srch_value_date'" [comp_id]="comp_id" [ctrl]="ctrl.value_date" [model]="screen_instance[this.comp_id].f_npss_post_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></dtp>
	</div>
	<div  id="be085ccf-e68e-4297-908e-635dec295851_1666009098411" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('process_type')" >
				<txt [ctrl_id]="'npss_post_dashboard_srch_process_type'" [comp_id]="comp_id" [ctrl]="ctrl.process_type" [model]="screen_instance[this.comp_id].f_npss_post_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="c3cdcca8-f318-472d-8f6a-2f8a462f7b94_1666009098411" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('uetr')" >
				<txt [ctrl_id]="'npss_post_dashboard_srch_uetr'" [comp_id]="comp_id" [ctrl]="ctrl.uetr" [model]="screen_instance[this.comp_id].f_npss_post_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="r1" class="row">
	<div  id="b99172c7-98ca-4595-9415-4145699386ad_1666009098412" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('channel_id')" >
				<txt [ctrl_id]="'npss_post_dashboard_srch_channel_id'" [comp_id]="comp_id" [ctrl]="ctrl.channel_id" [model]="screen_instance[this.comp_id].f_npss_post_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="59cf528b-dc76-4666-b0f8-b1e7780dfeb5_1666009098412" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_phone_no')" >
				<txt [ctrl_id]="'npss_post_dashboard_srch_dbtr_phone_no'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_phone_no" [model]="screen_instance[this.comp_id].f_npss_post_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="ef43c70f-92b7-4289-85fa-5ce6a537f996_1666009098412" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_email_id')" >
				<txt [ctrl_id]="'npss_post_dashboard_srch_dbtr_email_id'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_email_id" [model]="screen_instance[this.comp_id].f_npss_post_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="r2" class="row">
	<div  id="b5a1c8b9-252f-4e66-aa69-dbca47ee9e51_1666009098412" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_document_id')" >
				<txt [ctrl_id]="'npss_post_dashboard_srch_dbtr_document_id'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_document_id" [model]="screen_instance[this.comp_id].f_npss_post_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="e2ed76d6-1a09-4da1-b0ab-621664d15e5e_1666009098412" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_iban')" >
				<txt [ctrl_id]="'npss_post_dashboard_srch_cdtr_iban'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_iban" [model]="screen_instance[this.comp_id].f_npss_post_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="3182fd61-4a80-4f3e-a44d-5e9a84c41b89_1666009098412" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_phone_no')" >
				<txt [ctrl_id]="'npss_post_dashboard_srch_cdtr_phone_no'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_phone_no" [model]="screen_instance[this.comp_id].f_npss_post_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="1666009098412" class="row">
	<div  id="d01a6545-da05-4fc3-92bc-87000c39aeab_1666009098412" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_email_id')" >
				<txt [ctrl_id]="'npss_post_dashboard_srch_cdtr_email_id'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_email_id" [model]="screen_instance[this.comp_id].f_npss_post_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="2b4f8aa0-f03d-4268-abb6-b5848e6c5b39_1666009098412" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_document_id')" >
				<txt [ctrl_id]="'npss_post_dashboard_srch_cdtr_document_id'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_document_id" [model]="screen_instance[this.comp_id].f_npss_post_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="fcf1c12f-2d97-483d-896f-25f0e69eded5_1666009098412" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('intrbk_sttlm_amnt')" >
				<cur [ctrl_id]="'npss_post_dashboard_srch_intrbk_sttlm_amnt'" [comp_id]="comp_id" [ctrl]="ctrl.intrbk_sttlm_amnt" [model]="screen_instance[this.comp_id].f_npss_post_dashboard_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cur>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-8 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_search.show" >
			<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
		</div>
		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_clear.show" >
			<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		</div>
	</div>

</div>