<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'navigation_ui_search'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_search.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_tran'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_tran" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_tran.show"></btn>
		<btn [ctrl_id]="'navigation_ui_refund'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_refund" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_refund.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_response'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_response" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_response.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_request'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_request" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_request.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_process_log'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_process_log" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_process_log.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_req_and_res'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_req_and_res" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_req_and_res.show"></btn>
 	</div>

</div>