<div class="p_mainlayout">
 <!-- PROFILE HTML - p_mainlayout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="data_entry" >
			<f_npss_simulator_ui [comp_id]="'data_entry'" [screen_instance]="screen_instance" [hidden]="isHidden('data_entry','f_npss_simulator_ui')" profile_name="p_mainlayout"></f_npss_simulator_ui >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-6 col-sm-offset-0 col-xs-offset-0" >
		<div class="navigation_ui" >
			<f_navigation_ui [comp_id]="'navigation_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('navigation_ui','f_navigation_ui')" profile_name="p_mainlayout"></f_navigation_ui >
		</div>
	</div>
</div>
<div id="R31" class="row">
	<div id="R31C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="npss_sim_pack008"  [hidden]="!screen_instance['npss_sim_pack008'].show" >
			<npss_cs_sim_pack_008 [comp_id]="'npss_sim_pack008'" [screen_instance]="screen_instance" profile_name="p_mainlayout"></npss_cs_sim_pack_008>
		</div>
	</div>
</div>

</div>