<div class="s_rct_reversal">
<p_vertical_layout [screen_instance]="this" [hidden]="!(current_profile=='p_vertical_layout')"></p_vertical_layout>
<p_accept_ui_layout [screen_instance]="this" [hidden]="!(current_profile=='p_accept_ui_layout')"></p_accept_ui_layout>
<p_main_layout [screen_instance]="this" [hidden]="!(current_profile=='p_main_layout')"></p_main_layout>

<p-dialog header="{{'Return Reason' | translate }}"  [closable]="true" (onHide)="closePopup()" responsive="true" breakpoint=600 styleClass="show-popup " [(visible)]="p_accept_layout__spap_for_accept_showpopup" [contentStyle]="{'overflow-y': 'auto','height': '300px','width': '600px'}" [draggable]="true" [modal]="true">
	<p_accept_layout [screen_instance]="this" ></p_accept_layout></p-dialog>

<p-dialog header="{{'Change Return Reason' | translate }}"  [closable]="true" (onHide)="closePopup()" responsive="true" breakpoint=600 styleClass="show-popup " [(visible)]="p_change_return_layout__crr_for_spap_showpopup" [contentStyle]="{'overflow-y': 'auto','height': '300px','width': '600px'}" [draggable]="true" [modal]="true">
	<p_change_return_layout [screen_instance]="this" ></p_change_return_layout></p-dialog>

<p-dialog header="{{'Error Details' | translate }}"  [closable]="true" (onHide)="closePopup()" responsive="true" breakpoint=600 styleClass="show-popup " [(visible)]="p_error_code_layout__spap_for_error_code_showpopup" [contentStyle]="{'overflow-y': 'auto','height': '300px','width': '600px'}" [draggable]="true" [modal]="true">
	<p_error_code_layout [screen_instance]="this" ></p_error_code_layout></p-dialog>
<app-dialog [screen_instance]="this" ></app-dialog>
<div style="display:none">
	<datatable [comp_id]="'comment_list'" [screen_instance]="this"></datatable>
	<f_process_log_ui [comp_id]="'process_log_ui'" [screen_instance]="this" ></f_process_log_ui >
	<datatable [comp_id]="'history_detail'" [screen_instance]="this"></datatable>
	<f_message_back_ui [comp_id]="'message_back_ui'" [screen_instance]="this" ></f_message_back_ui >
	<datatable [comp_id]="'message_detail'" [screen_instance]="this"></datatable>
	<f_message_detail_action [comp_id]="'message_detail_action'" [screen_instance]="this" ></f_message_detail_action >
	<f_message_detail_ui [comp_id]="'message_detail_ui'" [screen_instance]="this" ></f_message_detail_ui >
</div>
</div>