<div class="p_fin_initate_layout">
 <!-- PROFILE HTML - p_fin_initate_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="original_transaction_details"  [hidden]="!screen_instance['original_transaction_details'].show" >
			<datatable [comp_id]="'original_transaction_details'" [screen_instance]="screen_instance" profile_name="p_fin_initate_layout"></datatable>
		</div>
	</div>
	<div id="R11C2" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
<div id="R11C2R0" class="row">
	<div id="R11C2R0C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="payment_processing_details"  [hidden]="!screen_instance['payment_processing_details'].show" >
			<datatable [comp_id]="'payment_processing_details'" [screen_instance]="screen_instance" profile_name="p_fin_initate_layout"></datatable>
		</div>
	</div>
	<div id="R11C2R0C3" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="payment_processing_details_ui" >
			<f_npss_manual_initiation_ui [comp_id]="'payment_processing_details_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('payment_processing_details_ui','f_npss_manual_initiation_ui')" profile_name="p_fin_initate_layout"></f_npss_manual_initiation_ui >
		</div>
	</div>
</div>
	</div>
</div>

</div>