<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_bct_ref_no_ui="ngForm">
<div id="RN01" class="row">
	<div #npss_bct_ref_no_ui_cbs_ref_no id="RN01CN1" class="column col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cbs_ref_no')" >
				<txt [ctrl_id]="'npss_bct_ref_no_ui_cbs_ref_no'" [comp_id]="comp_id" [ctrl]="ctrl.cbs_ref_no" [model]="screen_instance[this.comp_id].f_npss_bct_ref_no_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-9 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.cbs_ref_ui_save.show" >
			<btn [ctrl_id]="'cbs_ref_ui_save'" [comp_id]="comp_id" [ctrl]="screen_instance.cbs_ref_ui_save" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.cbs_ref_ui_save.show"></btn>
		</div>
	</div>

</div>