<div class="p_fh_review_layout">
 <!-- PROFILE HTML - p_fh_review_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="reversal_ui" >
			<f_npss_reversal_n_ui [comp_id]="'reversal_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('reversal_ui','f_npss_reversal_n_ui')" profile_name="p_fh_review_layout"></f_npss_reversal_n_ui >
		</div>
	</div>
	<div id="R11C2" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="process_log_control_ui" >
			<f_npss_reversal_plog_ui [comp_id]="'process_log_control_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('process_log_control_ui','f_npss_reversal_plog_ui')" profile_name="p_fh_review_layout"></f_npss_reversal_plog_ui >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="process_log_list"  [hidden]="!screen_instance['process_log_list'].show" >
			<datatable [comp_id]="'process_log_list'" [screen_instance]="screen_instance" profile_name="p_fh_review_layout"></datatable>
		</div>
	</div>
</div>
<div id="R31" class="row">
	<div id="R31C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-6 col-sm-offset-0 col-xs-offset-0" >
		<div class="reversal_action_ui" >
			<f_reversal_action_ui [comp_id]="'reversal_action_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('reversal_action_ui','f_reversal_action_ui')" profile_name="p_fh_review_layout"></f_reversal_action_ui >
		</div>
	</div>
</div>

</div>