<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_manual_verification_srch="ngForm">
<div id="r0" class="row">
	<div #npss_manual_verification_srch_memory91 id="9c78b1b4-2aa1-48ac-9017-209d01b1b37d_1674573747682" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory91')" >
				<cdn_ctrl [ctrl_id]="'npss_manual_verification_srch_memory91'" [comp_id]="comp_id" [ctrl]="ctrl.memory91" [model]="screen_instance[this.comp_id].f_npss_manual_verification_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
<div id="RN31" class="row">
	<div  id="RN31CN6" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_iban')" >
				<cdn_ctrl [ctrl_id]="'npss_manual_verification_srch_dbtr_iban'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_iban" [model]="screen_instance[this.comp_id].f_npss_manual_verification_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
<div id="r1" class="row">
	<div  id="7b8bd0a5-4090-4f26-bdbe-2c29a1dd99c0_1674573747682" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory89')" >
				<cdn_date [ctrl_id]="'npss_manual_verification_srch_memory89'" [comp_id]="comp_id" [ctrl]="ctrl.memory89" [model]="screen_instance[this.comp_id].f_npss_manual_verification_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_date>
	</div>
</div>
<div id="r2" class="row">
	<div  id="34ed9440-95b5-4299-a032-4e2729ffe9a5_1674573747682" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory92')" >
				<cdn_cur_ctrl [ctrl_id]="'npss_manual_verification_srch_memory92'" [comp_id]="comp_id" [ctrl]="ctrl.memory92" [model]="screen_instance[this.comp_id].f_npss_manual_verification_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_cur_ctrl>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-8 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_search.show" >
			<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
		</div>
		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_clear.show" >
			<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		</div>
	</div>

</div>