<div class="p_list_layout">
 <!-- PROFILE HTML - p_list_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="navigation" >
			<f_navigation [comp_id]="'navigation'" [screen_instance]="screen_instance" [hidden]="isHidden('navigation','f_navigation')" profile_name="p_list_layout"></f_navigation >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="customer_details"  [hidden]="!screen_instance['customer_details'].show" >
			<datatable [comp_id]="'customer_details'" [screen_instance]="screen_instance" profile_name="p_list_layout"></datatable>
		</div>
	</div>
</div>
<div id="R31" class="row">
	<div id="R31C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="bank_account_details"  [hidden]="!screen_instance['bank_account_details'].show" >
			<datatable [comp_id]="'bank_account_details'" [screen_instance]="screen_instance" profile_name="p_list_layout"></datatable>
		</div>
	</div>
</div>

</div>