<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'shop_action_enrolment_shop'" [comp_id]="comp_id" [ctrl]="screen_instance.shop_action_enrolment_shop" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.shop_action_enrolment_shop.show"></btn>
		<btn [ctrl_id]="'shop_action_update_shop'" [comp_id]="comp_id" [ctrl]="screen_instance.shop_action_update_shop" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.shop_action_update_shop.show"></btn>
		<btn [ctrl_id]="'shop_action_disable_shop'" [comp_id]="comp_id" [ctrl]="screen_instance.shop_action_disable_shop" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.shop_action_disable_shop.show"></btn>
		<btn [ctrl_id]="'shop_action_set_default'" [comp_id]="comp_id" [ctrl]="screen_instance.shop_action_set_default" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.shop_action_set_default.show"></btn>
		<btn [ctrl_id]="'shop_action_remove_account'" [comp_id]="comp_id" [ctrl]="screen_instance.shop_action_remove_account" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.shop_action_remove_account.show"></btn>
 	</div>

</div>