<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_ip_pacs008="ngForm">
<div id="RN01" class="row">
	<div #npss_ip_pacs008_memory64 id="RN01CN1" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory64')" >
				<rich_txt [ctrl_id]="'npss_ip_pacs008_memory64'" [comp_id]="comp_id" [ctrl]="ctrl.memory64" [model]="screen_instance[this.comp_id].f_npss_ip_pacs008.model" [screen_instance]="screen_instance" [form_instance]="this"></rich_txt>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-10 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.pacs008_ui_close.show" >
			<btn [ctrl_id]="'pacs008_ui_close'" [comp_id]="comp_id" [ctrl]="screen_instance.pacs008_ui_close" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.pacs008_ui_close.show"></btn>
		</div>
	</div>

</div>