<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_tran_remarks_ui="ngForm">
<div id="1672139269555" class="row">
	<div #npss_tran_remarks_ui_reversal_amount id="1672139269555CN2" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('reversal_amount')" >
				<txt [ctrl_id]="'npss_tran_remarks_ui_reversal_amount'" [comp_id]="comp_id" [ctrl]="ctrl.reversal_amount" [model]="screen_instance[this.comp_id].f_npss_tran_remarks_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="5dc69997-840d-4fde-b31d-2540eb0bd432_1672139269555" class="column col-md-8 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('remarks')" >
				<txt [ctrl_id]="'npss_tran_remarks_ui_remarks'" [comp_id]="comp_id" [ctrl]="ctrl.remarks" [model]="screen_instance[this.comp_id].f_npss_tran_remarks_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >

</div>