<div class="p_force_post_flag_layout">
 <!-- PROFILE HTML - p_force_post_flag_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="force_post_flag_ui" >
			<f_npss_force_post_flag_ui [comp_id]="'force_post_flag_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('force_post_flag_ui','f_npss_force_post_flag_ui')" profile_name="p_force_post_flag_layout"></f_npss_force_post_flag_ui >
		</div>
	</div>
</div>

</div>