<div class="p_payment_layout">
 <!-- PROFILE HTML - p_payment_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-10 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" >
		<div class="payment_type_ui" >
			<f_npss_p2p_retrive_contacct [comp_id]="'payment_type_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('payment_type_ui','f_npss_p2p_retrive_contacct')" profile_name="p_payment_layout"></f_npss_p2p_retrive_contacct >
		</div>
	</div>
</div>

</div>