<div class="p_main_layout">
 <!-- PROFILE HTML - p_main_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="navigation" >
			<f_navigation [comp_id]="'navigation'" [screen_instance]="screen_instance" [hidden]="isHidden('navigation','f_navigation')" profile_name="p_main_layout"></f_navigation >
		</div>
	</div>
</div>
<div id="R41" class="row">
	<div id="R41C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="header" >
			<f_header [comp_id]="'header'" [screen_instance]="screen_instance" [hidden]="isHidden('header','f_header')" profile_name="p_main_layout"></f_header >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-0 col-xs-offset-0" >
		<div class="label"  [hidden]="!screen_instance['label'].show" >
			<app-label [comp_id]="'label'" [screen_instance]="screen_instance" profile_name="p_main_layout"></app-label>
		</div>
	</div>
</div>
<div id="R31" class="row">
	<div id="R31C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="list"  [hidden]="!screen_instance['list'].show" >
			<datatable [comp_id]="'list'" [screen_instance]="screen_instance" profile_name="p_main_layout"></datatable>
		</div>
	</div>
</div>

</div>