<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'cashdesk_action_back'" [comp_id]="comp_id" [ctrl]="screen_instance.cashdesk_action_back" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.cashdesk_action_back.show"></btn>
		<btn [ctrl_id]="'cashdesk_action_enrolment_desk'" [comp_id]="comp_id" [ctrl]="screen_instance.cashdesk_action_enrolment_desk" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.cashdesk_action_enrolment_desk.show"></btn>
		<btn [ctrl_id]="'cashdesk_action_update_desk'" [comp_id]="comp_id" [ctrl]="screen_instance.cashdesk_action_update_desk" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.cashdesk_action_update_desk.show"></btn>
		<btn [ctrl_id]="'cashdesk_action_disable_desk'" [comp_id]="comp_id" [ctrl]="screen_instance.cashdesk_action_disable_desk" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.cashdesk_action_disable_desk.show"></btn>
		<btn [ctrl_id]="'cashdesk_action_trg_for_clear_ui'" [comp_id]="comp_id" [ctrl]="screen_instance.cashdesk_action_trg_for_clear_ui" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.cashdesk_action_trg_for_clear_ui.show"></btn>
 	</div>

</div>