<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_merchant_ui="ngForm">
<div id="RN31" class="row">
	<div  id="RN31CN14" class="column col-md-9 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0"  >
<div id="RN31CN14RN4" class="row">
	<div #npss_merchant_ui_channel_id id="RN31CN14RN4CN16" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('channel_id')" >
				<cbo [ctrl_id]="'npss_merchant_ui_channel_id'" [comp_id]="comp_id" [ctrl]="ctrl.channel_id" [model]="screen_instance[this.comp_id].f_npss_merchant_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
	<div  id="RN31CN14RN4CN17" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('bankuserid')" >
				<txt [ctrl_id]="'npss_merchant_ui_bankuserid'" [comp_id]="comp_id" [ctrl]="ctrl.bankuserid" [model]="screen_instance[this.comp_id].f_npss_merchant_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN14RN4CN18" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('merchant_name')" >
				<txt [ctrl_id]="'npss_merchant_ui_merchant_name'" [comp_id]="comp_id" [ctrl]="ctrl.merchant_name" [model]="screen_instance[this.comp_id].f_npss_merchant_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN14RN4CN19" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('surname')" >
				<txt [ctrl_id]="'npss_merchant_ui_surname'" [comp_id]="comp_id" [ctrl]="ctrl.surname" [model]="screen_instance[this.comp_id].f_npss_merchant_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN14RN4CN20" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('denomination')" >
				<txt [ctrl_id]="'npss_merchant_ui_denomination'" [comp_id]="comp_id" [ctrl]="ctrl.denomination" [model]="screen_instance[this.comp_id].f_npss_merchant_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN14RN4CN21" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('vat_number')" >
				<txt [ctrl_id]="'npss_merchant_ui_vat_number'" [comp_id]="comp_id" [ctrl]="ctrl.vat_number" [model]="screen_instance[this.comp_id].f_npss_merchant_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN14RN4CN22" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('mcc')" >
				<txt [ctrl_id]="'npss_merchant_ui_mcc'" [comp_id]="comp_id" [ctrl]="ctrl.mcc" [model]="screen_instance[this.comp_id].f_npss_merchant_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN14RN4CN23" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('mobile')" >
				<txt [ctrl_id]="'npss_merchant_ui_mobile'" [comp_id]="comp_id" [ctrl]="ctrl.mobile" [model]="screen_instance[this.comp_id].f_npss_merchant_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN14RN4CN24" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('proxy_type')" >
				<cbo [ctrl_id]="'npss_merchant_ui_proxy_type'" [comp_id]="comp_id" [ctrl]="ctrl.proxy_type" [model]="screen_instance[this.comp_id].f_npss_merchant_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
	<div  id="RN31CN14RN4CN25" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('proxy_value')" >
				<txt [ctrl_id]="'npss_merchant_ui_proxy_value'" [comp_id]="comp_id" [ctrl]="ctrl.proxy_value" [model]="screen_instance[this.comp_id].f_npss_merchant_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN14RN4CN26" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('channel_name')" >
				<txt [ctrl_id]="'npss_merchant_ui_channel_name'" [comp_id]="comp_id" [ctrl]="ctrl.channel_name" [model]="screen_instance[this.comp_id].f_npss_merchant_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN31CN14RN4CN27" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('merchant_tag')" >
				<txt [ctrl_id]="'npss_merchant_ui_merchant_tag'" [comp_id]="comp_id" [ctrl]="ctrl.merchant_tag" [model]="screen_instance[this.comp_id].f_npss_merchant_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</div>
	<div  id="RN21CN15" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('logo')" >
				<img_brw [ctrl_id]="'npss_merchant_ui_logo'" [comp_id]="comp_id" [ctrl]="ctrl.logo" [model]="screen_instance[this.comp_id].f_npss_merchant_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></img_brw>
	</div>
</div>
	</form>
</fieldset >

</div>