<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_r_msg_detail_ui="ngForm">
<div id="r0" class="row">
	<div #npss_r_msg_detail_ui_process_name id="94869e94-b09a-4259-a503-a3083e31a454_1678167590032" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('process_name')" >
				<txt [ctrl_id]="'npss_r_msg_detail_ui_process_name'" [comp_id]="comp_id" [ctrl]="ctrl.process_name" [model]="screen_instance[this.comp_id].f_npss_r_msg_detail_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="69ad377e-cfab-4f02-a108-085434ecaa03_1678167590032" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('reftype')" >
				<txt [ctrl_id]="'npss_r_msg_detail_ui_reftype'" [comp_id]="comp_id" [ctrl]="ctrl.reftype" [model]="screen_instance[this.comp_id].f_npss_r_msg_detail_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="r1" class="row">
	<div  id="90abbe94-aa71-44ec-8c8d-8df6f4d24a29_1678167590032" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('ref')" >
				<txt [ctrl_id]="'npss_r_msg_detail_ui_ref'" [comp_id]="comp_id" [ctrl]="ctrl.ref" [model]="screen_instance[this.comp_id].f_npss_r_msg_detail_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="f3e72ef4-080d-4b03-81b5-e9a2f3b50cd9_1678167590032" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('datetime')" >
				<dtp [ctrl_id]="'npss_r_msg_detail_ui_datetime'" [comp_id]="comp_id" [ctrl]="ctrl.datetime" [model]="screen_instance[this.comp_id].f_npss_r_msg_detail_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></dtp>
	</div>
</div>
<div id="1678167590032" class="row">
	<div  id="ec90d741-021d-433a-b164-85c277d3b675_1678167590032" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('senderbic')" >
				<txt [ctrl_id]="'npss_r_msg_detail_ui_senderbic'" [comp_id]="comp_id" [ctrl]="ctrl.senderbic" [model]="screen_instance[this.comp_id].f_npss_r_msg_detail_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="04889e1c-56fc-42e2-8a84-a0cee33dabfa_1678167590032" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('datasource')" >
				<txt [ctrl_id]="'npss_r_msg_detail_ui_datasource'" [comp_id]="comp_id" [ctrl]="ctrl.datasource" [model]="screen_instance[this.comp_id].f_npss_r_msg_detail_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >

</div>