/* css */::ng-deep #cust_transaction_ui_memory51 label {display: inline-block;margin-bottom: 5px !important;font-size: 15px !important;font-weight: bold;color: #2c4f82;}
::ng-deep #cust_transaction_ui_memory52 label {display: inline-block;margin-bottom: 5px !important;font-size: 15px !important;font-weight: bold;color: #2c4f82;}
