<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'navigation_ui_search'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_search.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_transs'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_transs" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_transs.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_process_log'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_process_log" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_process_log.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_message_log'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_message_log" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_message_log.show"></btn>
		<btn [ctrl_id]="'navigation_ui_retry'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_retry" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_retry.show"></btn>
		<btn [ctrl_id]="'navigation_ui_hold'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_hold" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_hold.show"></btn>
		<btn [ctrl_id]="'navigation_ui_release'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_release" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_release.show"></btn>
		<btn [ctrl_id]="'navigation_ui_call_reversal'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_call_reversal" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_call_reversal.show"></btn>
 	</div>

</div>