<div class="s_salary_file_creation">
<p_npss_layout [screen_instance]="this" [hidden]="!(current_profile=='p_npss_layout')"></p_npss_layout>

<p-dialog header="{{'Search' | translate }}"  [closable]="true" (onHide)="closePopup()" responsive="true" breakpoint=600 styleClass="show-popup " [(visible)]="p_search_layout__spap_for_nav_search_showpopup" [contentStyle]="{'overflow-y': 'auto','height': '700px','width': '500px'}" [draggable]="true" [modal]="true">
	<p_search_layout [screen_instance]="this" ></p_search_layout></p-dialog>
<exg_export_dynamic *ngIf="exg_export_dynamic_show" [screen_instance]="this" ></exg_export_dynamic>
<app-dialog [screen_instance]="this" ></app-dialog>
<div style="display:none">
	<f_queue_search [comp_id]="'queue_search'" [screen_instance]="this" ></f_queue_search >
</div>
</div>