<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_camt_act_cdtr_ntfi_srch="ngForm">
<div id="RN01" class="row">
	<div #npss_camt_act_cdtr_ntfi_srch_notification_id id="RN01CN1" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('notification_id')" >
				<cdn_ctrl [ctrl_id]="'npss_camt_act_cdtr_ntfi_srch_notification_id'" [comp_id]="comp_id" [ctrl]="ctrl.notification_id" [model]="screen_instance[this.comp_id].f_npss_camt_act_cdtr_ntfi_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="RN01CN2" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('ntfn_created_datetime')" >
				<cdn_ctrl [ctrl_id]="'npss_camt_act_cdtr_ntfi_srch_ntfn_created_datetime'" [comp_id]="comp_id" [ctrl]="ctrl.ntfn_created_datetime" [model]="screen_instance[this.comp_id].f_npss_camt_act_cdtr_ntfi_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN3" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('iban')" >
				<cdn_ctrl [ctrl_id]="'npss_camt_act_cdtr_ntfi_srch_iban'" [comp_id]="comp_id" [ctrl]="ctrl.iban" [model]="screen_instance[this.comp_id].f_npss_camt_act_cdtr_ntfi_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="RN11CN4" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('currency')" >
				<cbo [ctrl_id]="'npss_camt_act_cdtr_ntfi_srch_currency'" [comp_id]="comp_id" [ctrl]="ctrl.currency" [model]="screen_instance[this.comp_id].f_npss_camt_act_cdtr_ntfi_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
</div>
<div id="RN21" class="row">
	<div  id="RN21CN5" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory12')" >
				<cdn_date [ctrl_id]="'npss_camt_act_cdtr_ntfi_srch_memory12'" [comp_id]="comp_id" [ctrl]="ctrl.memory12" [model]="screen_instance[this.comp_id].f_npss_camt_act_cdtr_ntfi_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_date>
	</div>
	<div  id="RN21CN6" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cr_dr_indicator')" >
				<cbo [ctrl_id]="'npss_camt_act_cdtr_ntfi_srch_cr_dr_indicator'" [comp_id]="comp_id" [ctrl]="ctrl.cr_dr_indicator" [model]="screen_instance[this.comp_id].f_npss_camt_act_cdtr_ntfi_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
</div>
<div id="RN31" class="row">
	<div  id="RN31CN7" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('end_to_end_id')" >
				<cdn_ctrl [ctrl_id]="'npss_camt_act_cdtr_ntfi_srch_end_to_end_id'" [comp_id]="comp_id" [ctrl]="ctrl.end_to_end_id" [model]="screen_instance[this.comp_id].f_npss_camt_act_cdtr_ntfi_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
 	</div>

</div>