<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_outward_manually_closed_transactions_report_srch="ngForm">
<div id="RN01" class="row">
	<div #npss_outward_manually_closed_transactions_report_srch_value_date id="RN01CN2" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('value_date')" >
				<cdn_date [ctrl_id]="'npss_outward_manually_closed_transactions_report_srch_value_date'" [comp_id]="comp_id" [ctrl]="ctrl.value_date" [model]="screen_instance[this.comp_id].f_npss_outward_manually_closed_transactions_report_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_date>
	</div>
	<div  id="RN01CN4" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_iban')" >
				<cdn_ctrl [ctrl_id]="'npss_outward_manually_closed_transactions_report_srch_dbtr_iban'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_iban" [model]="screen_instance[this.comp_id].f_npss_outward_manually_closed_transactions_report_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN21CN8" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_iban')" >
				<cdn_ctrl [ctrl_id]="'npss_outward_manually_closed_transactions_report_srch_cdtr_iban'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_iban" [model]="screen_instance[this.comp_id].f_npss_outward_manually_closed_transactions_report_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="RN11CN7" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cr_sort_code')" >
				<cdn_ctrl [ctrl_id]="'npss_outward_manually_closed_transactions_report_srch_cr_sort_code'" [comp_id]="comp_id" [ctrl]="ctrl.cr_sort_code" [model]="screen_instance[this.comp_id].f_npss_outward_manually_closed_transactions_report_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
<div id="RN21" class="row">
	<div  id="RN21CN10" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('payment_endtoend_id')" >
				<cdn_ctrl [ctrl_id]="'npss_outward_manually_closed_transactions_report_srch_payment_endtoend_id'" [comp_id]="comp_id" [ctrl]="ctrl.payment_endtoend_id" [model]="screen_instance[this.comp_id].f_npss_outward_manually_closed_transactions_report_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="RN01CN3" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('uetr')" >
				<cdn_ctrl [ctrl_id]="'npss_outward_manually_closed_transactions_report_srch_uetr'" [comp_id]="comp_id" [ctrl]="ctrl.uetr" [model]="screen_instance[this.comp_id].f_npss_outward_manually_closed_transactions_report_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
<div id="RN41" class="row">
	<div  id="RN11CN5" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('intrbk_sttlm_amnt')" >
				<cdn_cur_ctrl [ctrl_id]="'npss_outward_manually_closed_transactions_report_srch_intrbk_sttlm_amnt'" [comp_id]="comp_id" [ctrl]="ctrl.intrbk_sttlm_amnt" [model]="screen_instance[this.comp_id].f_npss_outward_manually_closed_transactions_report_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_cur_ctrl>
	</div>
	<div  id="RN31CN11" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('department_code')" >
				<cbo [ctrl_id]="'npss_outward_manually_closed_transactions_report_srch_department_code'" [comp_id]="comp_id" [ctrl]="ctrl.department_code" [model]="screen_instance[this.comp_id].f_npss_outward_manually_closed_transactions_report_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
	<div  id="RN11CN6" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory106')" >
				<cbo [ctrl_id]="'npss_outward_manually_closed_transactions_report_srch_memory106'" [comp_id]="comp_id" [ctrl]="ctrl.memory106" [model]="screen_instance[this.comp_id].f_npss_outward_manually_closed_transactions_report_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
</div>
<div id="RN31" class="row">
	<div  id="RN21CN9" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('process_group')" >
				<cbo [ctrl_id]="'npss_outward_manually_closed_transactions_report_srch_process_group'" [comp_id]="comp_id" [ctrl]="ctrl.process_group" [model]="screen_instance[this.comp_id].f_npss_outward_manually_closed_transactions_report_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
 	</div>

</div>