<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'data_entry_ui_initiate_credit_transfer'" [comp_id]="comp_id" [ctrl]="screen_instance.data_entry_ui_initiate_credit_transfer" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.data_entry_ui_initiate_credit_transfer.show"></btn>
		<btn [ctrl_id]="'data_entry_ui_value_date_trigger'" [comp_id]="comp_id" [ctrl]="screen_instance.data_entry_ui_value_date_trigger" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.data_entry_ui_value_date_trigger.show"></btn>
		<btn [ctrl_id]="'data_entry_ui_show_payor_account_bal'" [comp_id]="comp_id" [ctrl]="screen_instance.data_entry_ui_show_payor_account_bal" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.data_entry_ui_show_payor_account_bal.show"></btn>
 	</div>

</div>