<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_view_response_data_ui="ngForm">
<div id="1686903271765" class="row">
	<div #npss_view_response_data_ui_response_data id="57f7015a-2e13-4eeb-bbab-e304c2dbd578_1686903271765" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('response_data')" >
				<rich_txt [ctrl_id]="'npss_view_response_data_ui_response_data'" [comp_id]="comp_id" [ctrl]="ctrl.response_data" [model]="screen_instance[this.comp_id].f_npss_view_response_data_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></rich_txt>
	</div>
</div>
	</form>
</fieldset >

</div>