<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_manual_initiation_srch="ngForm">
<div id="RN41" class="row">
	<div #npss_manual_initiation_srch_memory91 id="RN41CN6" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory91')" >
				<cdn_ctrl [ctrl_id]="'npss_manual_initiation_srch_memory91'" [comp_id]="comp_id" [ctrl]="ctrl.memory91" [model]="screen_instance[this.comp_id].f_npss_manual_initiation_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
<div id="RN31" class="row">
	<div  id="RN01CN2" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory89')" >
				<cdn_date [ctrl_id]="'npss_manual_initiation_srch_memory89'" [comp_id]="comp_id" [ctrl]="ctrl.memory89" [model]="screen_instance[this.comp_id].f_npss_manual_initiation_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_date>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN3" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory92')" >
				<cdn_cur_ctrl [ctrl_id]="'npss_manual_initiation_srch_memory92'" [comp_id]="comp_id" [ctrl]="ctrl.memory92" [model]="screen_instance[this.comp_id].f_npss_manual_initiation_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_cur_ctrl>
	</div>
</div>
<div id="RN21" class="row">
	<div  id="RN51CN7" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('uetr')" >
				<cdn_ctrl [ctrl_id]="'npss_manual_initiation_srch_uetr'" [comp_id]="comp_id" [ctrl]="ctrl.uetr" [model]="screen_instance[this.comp_id].f_npss_manual_initiation_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
<div id="RN51" class="row">
	<div  id="RN11CN4" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('payment_endtoend_id')" >
				<cdn_ctrl [ctrl_id]="'npss_manual_initiation_srch_payment_endtoend_id'" [comp_id]="comp_id" [ctrl]="ctrl.payment_endtoend_id" [model]="screen_instance[this.comp_id].f_npss_manual_initiation_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-8 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_search.show" >
			<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
		</div>
		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_clear.show" >
			<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		</div>
	</div>

</div>