<div class="p_view_failures_layout">
 <!-- PROFILE HTML - p_view_failures_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-5 col-sm-offset-0 col-xs-offset-0" >
		<div class="view_failures_actions" >
			<f_view_failures_actions [comp_id]="'view_failures_actions'" [screen_instance]="screen_instance" [hidden]="isHidden('view_failures_actions','f_view_failures_actions')" profile_name="p_view_failures_layout"></f_view_failures_actions >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-10 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" >
		<div class="view_failures_ui" >
			<f_npss_view_response_data_ui [comp_id]="'view_failures_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('view_failures_ui','f_npss_view_response_data_ui')" profile_name="p_view_failures_layout"></f_npss_view_response_data_ui >
		</div>
	</div>
</div>

</div>