<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_customer_srch="ngForm">
<div id="1671003239077" class="row">
	<div #npss_customer_srch_memory19 id="44dfb571-ba28-440f-b00c-f8d5d882bba7_1671003239078" class="column col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory19')" >
				<cdn_date [ctrl_id]="'npss_customer_srch_memory19'" [comp_id]="comp_id" [ctrl]="ctrl.memory19" [model]="screen_instance[this.comp_id].f_npss_customer_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_date>
	</div>
	<div  id="7bcedd10-4ad0-4062-8805-0c82a041caef_1671003239077" class="column col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('bankuserid')" >
				<txt [ctrl_id]="'npss_customer_srch_bankuserid'" [comp_id]="comp_id" [ctrl]="ctrl.bankuserid" [model]="screen_instance[this.comp_id].f_npss_customer_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="r1" class="row">
	<div  id="2803b57c-5cc3-459c-bec4-8a523c3acdc2_1671003239078" class="column col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('surname')" >
				<cdn_ctrl [ctrl_id]="'npss_customer_srch_surname'" [comp_id]="comp_id" [ctrl]="ctrl.surname" [model]="screen_instance[this.comp_id].f_npss_customer_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="563eecc0-1efa-40fd-a05a-572664649e73_1671003239078" class="column col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('mobile')" >
				<cdn_ctrl [ctrl_id]="'npss_customer_srch_mobile'" [comp_id]="comp_id" [ctrl]="ctrl.mobile" [model]="screen_instance[this.comp_id].f_npss_customer_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
<div id="RN21" class="row">
	<div  id="RN21CN7" class="column col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('customer_name')" >
				<txt [ctrl_id]="'npss_customer_srch_customer_name'" [comp_id]="comp_id" [ctrl]="ctrl.customer_name" [model]="screen_instance[this.comp_id].f_npss_customer_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
 	</div>

</div>