<!--HTML FILE-->
<div class = "tablestyle" *ngIf = "showtable">
<p-table [columns]="tableheader" [value]="tablerows" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.headers}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.headers]}}
            </td>
        </tr>
    </ng-template>
</p-table>
</div>