<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_daily_liq_pos_ui="ngForm">
<div id="1678172636953" class="row">
	<div #npss_daily_liq_pos_ui_process_name id="9adfa21c-9dcf-4ea3-ba7f-65608530f2b6_1678172636953" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('process_name')" >
				<txt [ctrl_id]="'npss_daily_liq_pos_ui_process_name'" [comp_id]="comp_id" [ctrl]="ctrl.process_name" [model]="screen_instance[this.comp_id].f_npss_daily_liq_pos_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="add895b1-69f5-42bc-8bfb-08928ae89143_1678172636953" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('currency')" >
				<cbo [ctrl_id]="'npss_daily_liq_pos_ui_currency'" [comp_id]="comp_id" [ctrl]="ctrl.currency" [model]="screen_instance[this.comp_id].f_npss_daily_liq_pos_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
</div>
<div id="r1" class="row">
	<div  id="3e874593-ff29-4c78-9c2c-1d37ab99ebc1_1678172636954" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('accountholderbic')" >
				<txt [ctrl_id]="'npss_daily_liq_pos_ui_accountholderbic'" [comp_id]="comp_id" [ctrl]="ctrl.accountholderbic" [model]="screen_instance[this.comp_id].f_npss_daily_liq_pos_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="b75615bd-37c8-45da-8999-2f99f6b999a0_1678172636954" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('accountnumber')" >
				<txt [ctrl_id]="'npss_daily_liq_pos_ui_accountnumber'" [comp_id]="comp_id" [ctrl]="ctrl.accountnumber" [model]="screen_instance[this.comp_id].f_npss_daily_liq_pos_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="1678172636954" class="row">
	<div  id="f2bb8b74-137c-41c1-b2c8-b39fdf6be138_1678172636954" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('datetime')" >
				<dtp [ctrl_id]="'npss_daily_liq_pos_ui_datetime'" [comp_id]="comp_id" [ctrl]="ctrl.datetime" [model]="screen_instance[this.comp_id].f_npss_daily_liq_pos_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></dtp>
	</div>
	<div  id="1d397560-0175-418e-8c37-c49464b984b3_1678172636954" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('datasource')" >
				<txt [ctrl_id]="'npss_daily_liq_pos_ui_datasource'" [comp_id]="comp_id" [ctrl]="ctrl.datasource" [model]="screen_instance[this.comp_id].f_npss_daily_liq_pos_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >

</div>