<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_reversal_plog_ui="ngForm">
<div id="RN01" class="row">
	<div #npss_reversal_plog_ui_process_ref_no id="RN01CN4" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('process_ref_no')" >
				<txt [ctrl_id]="'npss_reversal_plog_ui_process_ref_no'" [comp_id]="comp_id" [ctrl]="ctrl.process_ref_no" [model]="screen_instance[this.comp_id].f_npss_reversal_plog_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN1" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('amount_credited')" >
				<txt [ctrl_id]="'npss_reversal_plog_ui_amount_credited'" [comp_id]="comp_id" [ctrl]="ctrl.amount_credited" [model]="screen_instance[this.comp_id].f_npss_reversal_plog_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN1001" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('amt_cr_loc_cur')" >
				<cur [ctrl_id]="'npss_reversal_plog_ui_amt_cr_loc_cur'" [comp_id]="comp_id" [ctrl]="ctrl.amt_cr_loc_cur" [model]="screen_instance[this.comp_id].f_npss_reversal_plog_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cur>
	</div>
	<div  id="RN01CN2" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('charge_amount')" >
				<cur [ctrl_id]="'npss_reversal_plog_ui_charge_amount'" [comp_id]="comp_id" [ctrl]="ctrl.charge_amount" [model]="screen_instance[this.comp_id].f_npss_reversal_plog_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cur>
	</div>
	<div  id="RN11CN6" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('exchange_rate')" >
				<txt [ctrl_id]="'npss_reversal_plog_ui_exchange_rate'" [comp_id]="comp_id" [ctrl]="ctrl.exchange_rate" [model]="screen_instance[this.comp_id].f_npss_reversal_plog_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN5" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('gm_margin')" >
				<txt [ctrl_id]="'npss_reversal_plog_ui_gm_margin'" [comp_id]="comp_id" [ctrl]="ctrl.gm_margin" [model]="screen_instance[this.comp_id].f_npss_reversal_plog_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
	</form>
</fieldset >

</div>