<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_reject_ui="ngForm">
<div id="1671282374641" class="row">
	<div #npss_reject_ui_cbuae_return_code id="d92cf835-e691-4a4e-bf10-ba77a1b6fedd_1671282374641" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cbuae_return_code')" >
				<cbo_list [ctrl_id]="'npss_reject_ui_cbuae_return_code'" [comp_id]="comp_id" [ctrl]="ctrl.cbuae_return_code" [model]="screen_instance[this.comp_id].f_npss_reject_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo_list>
	</div>
</div>
	</form>
</fieldset >

</div>