<div class="p_corp_account__layout">
 <!-- PROFILE HTML - p_corp_account__layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-10 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" >
		<div class="corporate_accounts_ui" >
			<f_bank_details_ui [comp_id]="'corporate_accounts_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('corporate_accounts_ui','f_bank_details_ui')" profile_name="p_corp_account__layout"></f_bank_details_ui >
		</div>
	</div>
</div>

</div>