<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_posting_failures_return_ui="ngForm">
<div id="RN01" class="row">
	<div #npss_posting_failures_return_ui_cbuae_return_code id="RN01CN1" class="column col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cbuae_return_code')" >
				<cbo [ctrl_id]="'npss_posting_failures_return_ui_cbuae_return_code'" [comp_id]="comp_id" [ctrl]="ctrl.cbuae_return_code" [model]="screen_instance[this.comp_id].f_npss_posting_failures_return_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
</div>
	</form>
</fieldset >

</div>