<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_api_plog_srch="ngForm">
<div id="1670593280291" class="row">
	<div #npss_api_plog_srch_process_name id="32c103fc-69ba-486f-bf8c-c46be3a6bc33_1670593280291" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('process_name')" >
				<txt [ctrl_id]="'npss_api_plog_srch_process_name'" [comp_id]="comp_id" [ctrl]="ctrl.process_name" [model]="screen_instance[this.comp_id].f_npss_api_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="a5360061-7d75-49aa-b6dd-a3f91a90812e_1670593280291" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('processing_system')" >
				<txt [ctrl_id]="'npss_api_plog_srch_processing_system'" [comp_id]="comp_id" [ctrl]="ctrl.processing_system" [model]="screen_instance[this.comp_id].f_npss_api_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="d6f5a509-093f-4214-9296-fd759d979d8d_1670593280291" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory10')" >
				<cdn_ctrl [ctrl_id]="'npss_api_plog_srch_memory10'" [comp_id]="comp_id" [ctrl]="ctrl.memory10" [model]="screen_instance[this.comp_id].f_npss_api_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="1bb75499-d8e2-44cc-abb3-d783b3bd8155_1670593280291" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory7')" >
				<cdn_date [ctrl_id]="'npss_api_plog_srch_memory7'" [comp_id]="comp_id" [ctrl]="ctrl.memory7" [model]="screen_instance[this.comp_id].f_npss_api_plog_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_date>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-8 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_search.show" >
			<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
		</div>
		<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_clear.show" >
			<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		</div>
	</div>

</div>