<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_merch_verify_srch="ngForm">
<div id="RN01" class="row">
	<div #npss_merch_verify_srch_memory59 id="RN01CN1" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory59')" >
				<txt [ctrl_id]="'npss_merch_verify_srch_memory59'" [comp_id]="comp_id" [ctrl]="ctrl.memory59" [model]="screen_instance[this.comp_id].f_npss_merch_verify_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN1001" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_acct_no')" >
				<txt [ctrl_id]="'npss_merch_verify_srch_dbtr_acct_no'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_acct_no" [model]="screen_instance[this.comp_id].f_npss_merch_verify_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN2" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_acct_no')" >
				<txt [ctrl_id]="'npss_merch_verify_srch_cdtr_acct_no'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_acct_no" [model]="screen_instance[this.comp_id].f_npss_merch_verify_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN3" class="column col-md-3 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('cdtr_pmt_type')" >
				<cbo [ctrl_id]="'npss_merch_verify_srch_cdtr_pmt_type'" [comp_id]="comp_id" [ctrl]="ctrl.cdtr_pmt_type" [model]="screen_instance[this.comp_id].f_npss_merch_verify_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN4" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('intrbk_sttlm_amnt')" >
				<cdn_cur_ctrl [ctrl_id]="'npss_merch_verify_srch_intrbk_sttlm_amnt'" [comp_id]="comp_id" [ctrl]="ctrl.intrbk_sttlm_amnt" [model]="screen_instance[this.comp_id].f_npss_merch_verify_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_cur_ctrl>
	</div>
	<div  id="RN11CN5" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory58')" >
				<cdn_date [ctrl_id]="'npss_merch_verify_srch_memory58'" [comp_id]="comp_id" [ctrl]="ctrl.memory58" [model]="screen_instance[this.comp_id].f_npss_merch_verify_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_date>
	</div>
</div>
<div id="RN21" class="row">
	<div  id="RN21CN6" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory56')" >
				<cdn_ctrl [ctrl_id]="'npss_merch_verify_srch_memory56'" [comp_id]="comp_id" [ctrl]="ctrl.memory56" [model]="screen_instance[this.comp_id].f_npss_merch_verify_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="RN21CN7" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory57')" >
				<cdn_ctrl [ctrl_id]="'npss_merch_verify_srch_memory57'" [comp_id]="comp_id" [ctrl]="ctrl.memory57" [model]="screen_instance[this.comp_id].f_npss_merch_verify_srch.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'dynamic_form_search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.dynamic_form_search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.dynamic_form_search_clear.show"></btn>
		<btn [ctrl_id]="'dynamic_form_search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.dynamic_form_search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.dynamic_form_search_search.show"></btn>
 	</div>

</div>