<div class="p_main_layout">
 <!-- PROFILE HTML - p_main_layout --> 
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
<div id="R21C1R0" class="row">
	<div id="R21C1R0C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
<div id="R21C1R0C1R0" class="row">
	<div id="R21C1R0C1R0C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="process_type_list"  [hidden]="!screen_instance['process_type_list'].show" >
			<datatable [comp_id]="'process_type_list'" [screen_instance]="screen_instance" profile_name="p_main_layout"></datatable>
		</div>
	</div>
	<div id="R21C1R0C1R0C2" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
<div id="R21C1R0C1R0C2R0" class="row">
	<div id="R21C1R0C1R0C2R0C2" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="payment_type_group"  [hidden]="!screen_instance['payment_type_group'].show" >
			<datatable [comp_id]="'payment_type_group'" [screen_instance]="screen_instance" profile_name="p_main_layout"></datatable>
		</div>
	</div>
</div>
	</div>
</div>
	</div>
	<div id="R21C1R0C2" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
<div id="R21C1R0C2R0" class="row">
	<div id="R21C1R0C2R0C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="navigation_ui" >
			<f_navigation_ui [comp_id]="'navigation_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('navigation_ui','f_navigation_ui')" profile_name="p_main_layout"></f_navigation_ui >
		</div>
	</div>
	<div id="R21C1R0C2R0C2" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="queue_group"  [hidden]="!screen_instance['queue_group'].show" >
			<chart [comp_id]="'queue_group'" [screen_instance]="screen_instance" profile_name="p_main_layout"></chart>
		</div>
	</div>
</div>
	</div>
</div>
	</div>
</div>
<div id="R31" class="row">
	<div id="R31C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="transaction_list"  [hidden]="!screen_instance['transaction_list'].show" >
			<datatable [comp_id]="'transaction_list'" [screen_instance]="screen_instance" profile_name="p_main_layout"></datatable>
		</div>
	</div>
</div>
<div id="R31" class="row">
	<div id="R31C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
	</div>
</div>

</div>