<!--HTML FILE-->
<section>
<div>
    <!-- <div class="row custom-row">
        <div class="col-md-5">
            <label>PostingRestrictCode</label>
        </div>
        <div class="col-md-5 bank-textbox custom-md-textbox">
            <input type="text" id="mdCustId"  name="mdCustId" [(ngModel)]="postingRestrictCode" [disabled]="pcode"> 
            
        </div>
    </div>
    <div class="row custom-row">
        <div class="col-md-5">
            <label>Isinactive</label>
        </div>
        <div class="col-md-5 bank-textbox custom-md-textbox">
            <input type="text" id="mdPhone" name="mdPhone" [(ngModel)]="isinactive"  [disabled]="pactive"> 
            
        </div>
    </div>
     <div class="row custom-row">
        <div class="col-md-5">
            <label>Signname</label>
        </div>
        <div class="col-md-5 bank-textbox custom-md-textbox">
            <input type="text" id="mdEmail" name="mdEmail" [(ngModel)]="signname" [disabled]="psignname"> 
            
        </div>
    </div> -->
    <div class="row custom-row">
        <div class="col-md-5">
            <label>Usablebalance</label>
        </div>
        <div class="col-md-5 bank-textbox custom-md-textbox">
            <input type="text" id="mdBalAcc" name="mdBalAcc" [(ngModel)]="usablebalance" [disabled]="pusbalance" />
        </div>
    </div>
    <div class="row custom-row" *ngIf = "showVaccounType">
        <div class="col-md-5">
            <label>VA Account Type</label>

        </div>
        <div class="col-md-5 bank-textbox custom-md-textbox">
            <input type="text" id="mdAccStat" [(ngModel)]="vaAccountType" name="mdAccStat" [disabled]="pworkbalance">
        </div>
    </div>

    

   
    
    <!-- <div class="row custom-row">
        <div class="col-md-5">
            <label>Real Account Usable Balance</label>
        </div>
        <div class="col-md-5 bank-textbox custom-md-textbox">
            <input type="text" id="mdShadBal"  name="mdShadBal" [(ngModel)]="raccountbalance" [disabled]="pracctbalance"> 
        </div>
    </div> -->
   
</div>
</section>