<div class="p_corp_virtual_acct_layout">
 <!-- PROFILE HTML - p_corp_virtual_acct_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-10 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" >
		<div class="corp_virtual_account_ui" >
			<f_corp_virtual_account_ui [comp_id]="'corp_virtual_account_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('corp_virtual_account_ui','f_corp_virtual_account_ui')" profile_name="p_corp_virtual_acct_layout"></f_corp_virtual_account_ui >
		</div>
	</div>
</div>

</div>