<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_summary_response_ui="ngForm">
<div id="1668603831828" class="row">
	<div #npss_summary_response_ui_memory11 id="4d937ad0-c6b6-440d-8327-099bf4b5a87e_1668603831828" class="column col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('memory11')" >
				<rich_txt [ctrl_id]="'npss_summary_response_ui_memory11'" [comp_id]="comp_id" [ctrl]="ctrl.memory11" [model]="screen_instance[this.comp_id].f_npss_summary_response_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></rich_txt>
	</div>
</div>
	</form>
</fieldset >

</div>