<div class="">
	
	<div class="row dynamic_action_btn">
 		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.navigation_clear.show" >
			<btn [ctrl_id]="'navigation_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_clear.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.navigation_view.show" >
			<btn [ctrl_id]="'navigation_view'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_view" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_view.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.navigation_add.show" >
			<btn [ctrl_id]="'navigation_add'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_add" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_add.show"></btn>
		</div>
	</div>

</div>