<div class="p_message_data_layout">
 <!-- PROFILE HTML - p_message_data_layout --> 
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-6 col-sm-6 col-xs-6 col-md-offset-6 col-sm-offset-0 col-xs-offset-0" >
		<div class="back_ui" >
			<f_back_ui [comp_id]="'back_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('back_ui','f_back_ui')" profile_name="p_message_data_layout"></f_back_ui >
		</div>
	</div>
</div>
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="message_data_ui" >
			<f_npss_camt_act_cdtr_ntfi_ui [comp_id]="'message_data_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('message_data_ui','f_npss_camt_act_cdtr_ntfi_ui')" profile_name="p_message_data_layout"></f_npss_camt_act_cdtr_ntfi_ui >
		</div>
	</div>
</div>

</div>