<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'navigation_ui_search'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_search.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_tran'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_tran" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_tran.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_process_log'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_process_log" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_process_log.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_message_log'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_message_log" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_message_log.show"></btn>
		<btn [ctrl_id]="'navigation_ui_view_api_transactions'" [comp_id]="comp_id" [ctrl]="screen_instance.navigation_ui_view_api_transactions" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.navigation_ui_view_api_transactions.show"></btn>
 	</div>

</div>