<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_address_srch_ui="ngForm">
<div id="RN01" class="row">
	<div #npss_address_srch_ui_category id="RN01CN1" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('category')" >
				<cbo [ctrl_id]="'npss_address_srch_ui_category'" [comp_id]="comp_id" [ctrl]="ctrl.category" [model]="screen_instance[this.comp_id].f_npss_address_srch_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
	<div  id="RN01CN2" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('merchant_tag')" >
				<cdn_ctrl [ctrl_id]="'npss_address_srch_ui_merchant_tag'" [comp_id]="comp_id" [ctrl]="ctrl.merchant_tag" [model]="screen_instance[this.comp_id].f_npss_address_srch_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="RN01CN3" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('iban')" >
				<cdn_ctrl [ctrl_id]="'npss_address_srch_ui_iban'" [comp_id]="comp_id" [ctrl]="ctrl.iban" [model]="screen_instance[this.comp_id].f_npss_address_srch_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
	<div  id="RN01CN4" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('vat_id')" >
				<cdn_ctrl [ctrl_id]="'npss_address_srch_ui_vat_id'" [comp_id]="comp_id" [ctrl]="ctrl.vat_id" [model]="screen_instance[this.comp_id].f_npss_address_srch_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cdn_ctrl>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-4 col-sm-0 col-xs-0 col-md-offset-4 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_search.show" >
			<btn [ctrl_id]="'search_search'" [comp_id]="comp_id" [ctrl]="screen_instance.search_search" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_search.show"></btn>
		</div>
		<div class="col-md-4 col-sm-0 col-xs-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.search_clear.show" >
			<btn [ctrl_id]="'search_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.search_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.search_clear.show"></btn>
		</div>
	</div>

</div>