<div class="s_home_dashboard">
<p_pl_req_res_layout [screen_instance]="this" [hidden]="!(current_profile=='p_pl_req_res_layout')"></p_pl_req_res_layout>
<p_processlog_layout [screen_instance]="this" [hidden]="!(current_profile=='p_processlog_layout')"></p_processlog_layout>
<p_transaction_list_layout [screen_instance]="this" [hidden]="!(current_profile=='p_transaction_list_layout')"></p_transaction_list_layout>
<p_process_log_list_history_layout [screen_instance]="this" [hidden]="!(current_profile=='p_process_log_list_history_layout')"></p_process_log_list_history_layout>
<p_view_tran_detail_layout [screen_instance]="this" [hidden]="!(current_profile=='p_view_tran_detail_layout')"></p_view_tran_detail_layout>
<p_view_req_and_res_ui_profile [screen_instance]="this" [hidden]="!(current_profile=='p_view_req_and_res_ui_profile')"></p_view_req_and_res_ui_profile>
<p_view_message_ui_layout [screen_instance]="this" [hidden]="!(current_profile=='p_view_message_ui_layout')"></p_view_message_ui_layout>
<p_message_list_layout [screen_instance]="this" [hidden]="!(current_profile=='p_message_list_layout')"></p_message_list_layout>
<p_default_profile [screen_instance]="this" [hidden]="!(current_profile=='p_default_profile')"></p_default_profile>
<app-dialog [screen_instance]="this" ></app-dialog>
</div>