<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_merchant_payment_type_qr_ui="ngForm">
<div id="RN01" class="row">
	<div #npss_merchant_payment_type_qr_ui_dbtr_cust_type id="RN01CN1" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_cust_type')" >
				<cbo [ctrl_id]="'npss_merchant_payment_type_qr_ui_dbtr_cust_type'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_cust_type" [model]="screen_instance[this.comp_id].f_npss_merchant_payment_type_qr_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
	<div  id="RN01CN2" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_phone_no')" >
				<txt [ctrl_id]="'npss_merchant_payment_type_qr_ui_dbtr_phone_no'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_phone_no" [model]="screen_instance[this.comp_id].f_npss_merchant_payment_type_qr_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN3" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_email_id')" >
				<txt [ctrl_id]="'npss_merchant_payment_type_qr_ui_dbtr_email_id'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_email_id" [model]="screen_instance[this.comp_id].f_npss_merchant_payment_type_qr_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN5" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_iban')" >
				<txt [ctrl_id]="'npss_merchant_payment_type_qr_ui_dbtr_iban'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_iban" [model]="screen_instance[this.comp_id].f_npss_merchant_payment_type_qr_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN21CN4" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('dbtr_document_id')" >
				<txt [ctrl_id]="'npss_merchant_payment_type_qr_ui_dbtr_document_id'" [comp_id]="comp_id" [ctrl]="ctrl.dbtr_document_id" [model]="screen_instance[this.comp_id].f_npss_merchant_payment_type_qr_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN31" class="row">
	<div  id="RN21CN9" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('value_date')" >
				<dtp [ctrl_id]="'npss_merchant_payment_type_qr_ui_value_date'" [comp_id]="comp_id" [ctrl]="ctrl.value_date" [model]="screen_instance[this.comp_id].f_npss_merchant_payment_type_qr_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></dtp>
	</div>
	<div  id="RN31CN8" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('remarks')" >
				<txt [ctrl_id]="'npss_merchant_payment_type_qr_ui_remarks'" [comp_id]="comp_id" [ctrl]="ctrl.remarks" [model]="screen_instance[this.comp_id].f_npss_merchant_payment_type_qr_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN41" class="row">
	<div  id="RN31CN7" class="column col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('intrbk_sttlm_amnt')" >
				<cur [ctrl_id]="'npss_merchant_payment_type_qr_ui_intrbk_sttlm_amnt'" [comp_id]="comp_id" [ctrl]="ctrl.intrbk_sttlm_amnt" [model]="screen_instance[this.comp_id].f_npss_merchant_payment_type_qr_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cur>
	</div>
</div>
	</form>
</fieldset >

</div>