<div class="p_processlog_layout">
 <!-- PROFILE HTML - p_processlog_layout --> 
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="navigation_pl" >
			<f_navigation_pl [comp_id]="'navigation_pl'" [screen_instance]="screen_instance" [hidden]="isHidden('navigation_pl','f_navigation_pl')" profile_name="p_processlog_layout"></f_navigation_pl >
		</div>
	</div>
</div>
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="outward_overlay_failures_chart"  [hidden]="!screen_instance['outward_overlay_failures_chart'].show" >
			<chart [comp_id]="'outward_overlay_failures_chart'" [screen_instance]="screen_instance" profile_name="p_processlog_layout"></chart>
		</div>
	</div>
</div>
<div id="R31" class="row">
	<div id="R31C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="overlay_failure_detail_list"  [hidden]="!screen_instance['overlay_failure_detail_list'].show" >
			<datatable [comp_id]="'overlay_failure_detail_list'" [screen_instance]="screen_instance" profile_name="p_processlog_layout"></datatable>
		</div>
	</div>
</div>

</div>