<div class="">
	
	<div class="row dynamic_action_btn">
		<btn [ctrl_id]="'nav_ui_view_ip_queue'" [comp_id]="comp_id" [ctrl]="screen_instance.nav_ui_view_ip_queue" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.nav_ui_view_ip_queue.show"></btn>
		<btn [ctrl_id]="'nav_ui_trg_for_hide_tran_list'" [comp_id]="comp_id" [ctrl]="screen_instance.nav_ui_trg_for_hide_tran_list" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.nav_ui_trg_for_hide_tran_list.show"></btn>
 	</div>

</div>