<div class="dynamic-ui">
	
<fieldset [disabled]="isFormDisabled()" [hidden]="isFormHidden()">
	<h2 class="need-header" [hidden]="hasHeader">{{component_header | translate}}</h2>	<form #f_npss_merc_proxy_shop_ui="ngForm">
<div id="RN01" class="row">
	<div #npss_merc_proxy_shop_ui_shop_type id="RN01CN1" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('shop_type')" >
				<cbo [ctrl_id]="'npss_merc_proxy_shop_ui_shop_type'" [comp_id]="comp_id" [ctrl]="ctrl.shop_type" [model]="screen_instance[this.comp_id].f_npss_merc_proxy_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
	<div  id="RN01CN2" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('shop_name')" >
				<txt [ctrl_id]="'npss_merc_proxy_shop_ui_shop_name'" [comp_id]="comp_id" [ctrl]="ctrl.shop_name" [model]="screen_instance[this.comp_id].f_npss_merc_proxy_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN01CN3" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('door_no')" >
				<txt [ctrl_id]="'npss_merc_proxy_shop_ui_door_no'" [comp_id]="comp_id" [ctrl]="ctrl.door_no" [model]="screen_instance[this.comp_id].f_npss_merc_proxy_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN11" class="row">
	<div  id="RN11CN4" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('street')" >
				<txt [ctrl_id]="'npss_merc_proxy_shop_ui_street'" [comp_id]="comp_id" [ctrl]="ctrl.street" [model]="screen_instance[this.comp_id].f_npss_merc_proxy_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN5" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('postal_code')" >
				<txt [ctrl_id]="'npss_merc_proxy_shop_ui_postal_code'" [comp_id]="comp_id" [ctrl]="ctrl.postal_code" [model]="screen_instance[this.comp_id].f_npss_merc_proxy_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
	<div  id="RN11CN6" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('city')" >
				<txt [ctrl_id]="'npss_merc_proxy_shop_ui_city'" [comp_id]="comp_id" [ctrl]="ctrl.city" [model]="screen_instance[this.comp_id].f_npss_merc_proxy_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></txt>
	</div>
</div>
<div id="RN21" class="row">
	<div  id="RN21CN7" class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" [hidden]="isControlHidden('country')" >
				<cbo [ctrl_id]="'npss_merc_proxy_shop_ui_country'" [comp_id]="comp_id" [ctrl]="ctrl.country" [model]="screen_instance[this.comp_id].f_npss_merc_proxy_shop_ui.model" [screen_instance]="screen_instance" [form_instance]="this"></cbo>
	</div>
</div>
	</form>
</fieldset >
	<div class="row dynamic_action_btn">
 		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.shop_ui_back.show" >
			<btn [ctrl_id]="'shop_ui_back'" [comp_id]="comp_id" [ctrl]="screen_instance.shop_ui_back" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.shop_ui_back.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.shop_ui_clear.show" >
			<btn [ctrl_id]="'shop_ui_clear'" [comp_id]="comp_id" [ctrl]="screen_instance.shop_ui_clear" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.shop_ui_clear.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.shop_ui_save.show" >
			<btn [ctrl_id]="'shop_ui_save'" [comp_id]="comp_id" [ctrl]="screen_instance.shop_ui_save" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.shop_ui_save.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.shop_ui_edit.show" >
			<btn [ctrl_id]="'shop_ui_edit'" [comp_id]="comp_id" [ctrl]="screen_instance.shop_ui_edit" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.shop_ui_edit.show"></btn>
		</div>
		<div class="col-md-1 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 bootstrap_button_layout " [hidden]="!screen_instance.shop_ui_delete.show" >
			<btn [ctrl_id]="'shop_ui_delete'" [comp_id]="comp_id" [ctrl]="screen_instance.shop_ui_delete" [screen_instance]="screen_instance" [form_instance]="this" [hidden]="!screen_instance.shop_ui_delete.show"></btn>
		</div>
	</div>

</div>