<div class="p_default_profile">
 <!-- PROFILE HTML - p_default_profile --> 
<div id="R21" class="row">
	<div id="R21C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="nav_ui" >
			<f_nav_ui [comp_id]="'nav_ui'" [screen_instance]="screen_instance" [hidden]="isHidden('nav_ui','f_nav_ui')" profile_name="p_default_profile"></f_nav_ui >
		</div>
	</div>
</div>
<div id="R11" class="row">
	<div id="R11C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="outward_chart"  [hidden]="!screen_instance['outward_chart'].show" >
			<chart [comp_id]="'outward_chart'" [screen_instance]="screen_instance" profile_name="p_default_profile"></chart>
		</div>
	</div>
</div>
<div id="R31" class="row">
	<div id="R31C1" class="column col-md-12 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
		<div class="inward_chart"  [hidden]="!screen_instance['inward_chart'].show" >
			<chart [comp_id]="'inward_chart'" [screen_instance]="screen_instance" profile_name="p_default_profile"></chart>
		</div>
	</div>
</div>

</div>